footer {
    color: white;
    height: 50px;
    background: black;
    background: rgba(0,0,0,0.8);
    font-size: 0.7rem;
    padding: 11px;

    &.transparent {
        background: transparent;
    }

    img {
        height: 34px;
        position: relative;
        top: -5px;

        @media screen and ($screen-xs) {
            display: none;
        }
    }

    ul {
        margin-top: 6px;

        li {
            &:not(:last-child):after {
                content: '|';
                margin: 0 0 0 10px;
                opacity: 0.5;
            }

            a {
                color: white;

                &:hover, &:focus, &:active {
                    color: white;
                }
            }
        }
    }
}