footer {
    color: white;
    height: 40px;
    background: black;
    background: rgba(0,0,0,0.8);
    font-size: 0.7rem;
    padding: 11px;

    &.transparent {
        background: transparent;
    }

    ul {
        li {
            a {
                color: white;

                &:hover, &:focus, &:active {
                    color: white;
                }
            }
        }
    }
}