[data-toggle="tooltip"] {
    border-bottom: 1px dotted $black;
    transition: $transition;

    &:hover, &:focus, &:active {
        border-bottom: 1px dotted $lightgray;
    }

    &.invert {
        border-bottom: 1px dotted white;

        &:hover, &:focus, &:active {
            border-bottom: 1px dotted $midgray;
        }
    }
}