body {
    .image-credit {
        color: #888;
        margin: 10px 0;
        font-size: 85%;
        font-style: italic;
    }
    .photo-container {
        text-align: center;
        height: auto;
        position: relative;
        display: block;
        img {
            max-height: 250px;
            text-align: center;
            margin: 0 auto;
        }
    }
}
.game {
    height: 100vh;
    position: relative;
    overflow: hidden;
    .game-world {
        height: 100vh;
        min-width: 100vh;
        width: 20000px !important;
        position: relative;
        .game-world__background, .game-world__midground, .game-world__foreground {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: url('../assets/bkgr.png') no-repeat;
            z-index: 1;
            background-size: cover;
        }
        .game-world__foreground {
            background: url('../assets/foregr.png') no-repeat;
            z-index: 3;
            background-size: cover;
        }
        .game-world__midground {
            background: url('../assets/midgr.png') no-repeat;
            z-index: 2;
            background-size: cover;
        }
    }
}
#SelectedSalmon {
    position: fixed;
    top: 50%;
    margin-left: 1em;
    z-index: 10;
    transition: top 3s, left 10s;
    left: 50px;
}
.rising-water {
    top: 20% !important;
    @media only screen and ($screen-xs) and ($screen-landscape) {
        top: 30% !important;
    }

    @media only screen and ($screen-xs) and ($screen-portrait) {
        top: 35% !important;
    }
}
.sonic-effect {
    left: 250% !important;
}
.steelhead-1 {
    width: 141px;
    height: 54px;
    background: url(../assets/sprite-sheets/steelhead-0.png) no-repeat;
    animation: one-steelhead-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 141px;
        height: 54px;
        background: url(../assets/sprite-sheets/steelhead-0.png) no-repeat;
    }
}
.steelhead-2 {
    width: 265px;
    height: 56px;
    background: url(../assets/sprite-sheets/steelhead-1.png) no-repeat;
    animation: two-steelhead-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 141px;
        height: 54px;
        background: url(../assets/sprite-sheets/steelhead-0.png) no-repeat;
    }
}
.steelhead-3 {
    width: 367px;
    height: 74px;
    background: url(../assets/sprite-sheets/steelhead-2.png) no-repeat;
    animation: three-steelhead-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 141px;
        height: 54px;
        background: url(../assets/sprite-sheets/steelhead-0.png) no-repeat;
    }
}
.steelhead-4 {
    width: 366px;
    height: 97px;
    background: url(../assets/sprite-sheets/steelhead-3.png) no-repeat;
    animation: three-steelhead-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 141px;
        height: 54px;
        background: url(../assets/sprite-sheets/steelhead-0.png) no-repeat;
    }
}
.steelhead-5 {
    width: 366px;
    height: 97px;
    background: url(../assets/sprite-sheets/steelhead-4.png) no-repeat;
    animation: three-steelhead-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 141px;
        height: 54px;
        background: url(../assets/sprite-sheets/steelhead-0.png) no-repeat;
    }
}
.chinook-1 {
    width: 146px;
    height: 49px;
    background: url(../assets/sprite-sheets/chinook-0.png) no-repeat;
    animation: one-chinook-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 146px;
        height: 49px;
        background: url(../assets/sprite-sheets/chinook-0.png) no-repeat;
    }
}
.chinook-2 {
    width: 270px;
    height: 52px;
    background: url(../assets/sprite-sheets/chinook-1.png) no-repeat;
    animation: two-chinook-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 146px;
        height: 49px;
        background: url(../assets/sprite-sheets/chinook-0.png) no-repeat;
    }
}
.chinook-3 {
    width: 373px;
    height: 71px;
    background: url(../assets/sprite-sheets/chinook-2.png) no-repeat;
    animation: three-chinook-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 146px;
        height: 49px;
        background: url(../assets/sprite-sheets/chinook-0.png) no-repeat;
    }
}
.chinook-4 {
    width: 373px;
    height: 94px;
    background: url(../assets/sprite-sheets/chinook-3.png) no-repeat;
    animation: three-chinook-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 146px;
        height: 49px;
        background: url(../assets/sprite-sheets/chinook-0.png) no-repeat;
    }
}
.chinook-5 {
    width: 373px;
    height: 94px;
    background: url(../assets/sprite-sheets/chinook-4.png) no-repeat;
    animation: three-chinook-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 146px;
        height: 49px;
        background: url(../assets/sprite-sheets/chinook-0.png) no-repeat;
    }
}
.sockeye-1 {
    width: 152px;
    height: 62px;
    background: url(../assets/sprite-sheets/sockeye-0.png) no-repeat;
    animation: one-sockeye-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 152px;
        height: 62px;
        background: url(../assets/sprite-sheets/sockeye-0.png) no-repeat;
    }
}
.sockeye-2 {
    width: 276px;
    height: 63px;
    background: url(../assets/sprite-sheets/sockeye-1.png) no-repeat;
    animation: two-sockeye-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 152px;
        height: 62px;
        background: url(../assets/sprite-sheets/sockeye-0.png) no-repeat;
    }
}
.sockeye-3 {
    width: 379px;
    height: 80px;
    background: url(../assets/sprite-sheets/sockeye-2.png) no-repeat;
    animation: three-sockeye-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 152px;
        height: 62px;
        background: url(../assets/sprite-sheets/sockeye-0.png) no-repeat;
    }
}
.sockeye-4 {
    width: 379px;
    height: 102px;
    background: url(../assets/sprite-sheets/sockeye-3.png) no-repeat;
    animation: three-sockeye-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 152px;
        height: 62px;
        background: url(../assets/sprite-sheets/sockeye-0.png) no-repeat;
    }
}
.sockeye-5 {
    width: 379px;
    height: 102px;
    background: url(../assets/sprite-sheets/sockeye-4.png) no-repeat;
    animation: three-sockeye-fish-swimming 1s steps(14) infinite;
    @media (max-width: 990px) {
        width: 152px;
        height: 62px;
        background: url(../assets/sprite-sheets/sockeye-0.png) no-repeat;
    }
}
@keyframes one-steelhead-fish-swimming {
    100% {
        background-position: -1974px;
    }
}
@keyframes two-steelhead-fish-swimming {
    100% {
        background-position: -3724px;
    }
}
@keyframes three-steelhead-fish-swimming {
    100% {
        background-position: -5138px;
    }
}
@keyframes one-chinook-fish-swimming {
    100% {
        background-position: -2072px;
    }
}
@keyframes two-chinook-fish-swimming {
    100% {
        background-position: -3808px;
    }
}
@keyframes three-chinook-fish-swimming {
    100% {
        background-position: -5236px;
    }
}
@keyframes one-sockeye-fish-swimming {
    100% {
        background-position: -2142px;
    }
}
@keyframes two-sockeye-fish-swimming {
    100% {
        background-position: -3878px;
    }
}
@keyframes three-sockeye-fish-swimming {
    100% {
        background-position: -5306px;
    }
}
.hotspot {
    cursor: pointer;
    width: 87px;
    height: 87px;
    position: absolute;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 9;
    background: url(../assets/icon@2x.png) no-repeat;
    animation: stretch 2.25s infinite;
    background-size: contain;
}
@keyframes stretch {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}
#select-fish {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    z-index: 200;
    .overlay {
        z-index: 195;
    }
    .select-fish-container {
        z-index: 201;
        position: relative;
        text-align: center;
        padding: 100px 20px;
        @media screen and (max-width: 1025px) {
            padding: 30px 20px;
        }
        @media screen and ($screen-xs) and ($screen-landscape) {
            padding: 30px;
            overflow-y: auto;
            height: 90%;
            -webkit-overflow-scrolling: touch;
        }
        @media screen and ($screen-xs) and ($screen-portrait) {
            padding: 20px;
            overflow-y: auto;
            height: 90%;
            -webkit-overflow-scrolling: touch;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            padding-top: 100px;
        }
    }
}
.fish-row {
    @media (max-width: 990px) {
        margin-bottom: 15px;
        .col {
            flex-basis: auto !important;
        }
        .fish-photo {
            width: 20%;
            vertical-align: middle;
            display: inline-block;
            height: 100%;
            float: left;
            img {
                &:hover {
                    background: url('../assets/selection-active@2x.png') no-repeat;
                    background-position-y: 0;
                    background-position-x: 10px;
                    background-size: contain;
                }
            }
            .selected {
                img {
                    background: url('../assets/selection-active@2x.png') no-repeat;
                    background-position-y: 0;
                    background-position-x: 10px;
                    background-size: contain;
                }
            }
        }
        .fish-detail {
            width: 73%;
            text-align: left;
            padding-left: 5%;
            display: inline-block;
            float: left;
            p {
                font-size: 0.7rem;
            }
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        margin-top: 125px !important;
        margin-bottom: 100px;
    }
    img {
        padding: 50px;
        @media (max-width: 990px) {
            padding: 0;
            background-position-y: 0;
            background-position-x: 10px;
            background-size: contain;
        }
        cursor:pointer;
        &:hover {
            background: url('../assets/selection-hover@2x.png') no-repeat;
            background-size: contain;
            background-position-y: 25px;
        }
    }
    .selected {
        img {
            background: url('../assets/selection-active@2x.png') no-repeat;
            background-size: contain;
            background-position-y: 25px;
            @media (max-width: 990px) {
                background-position-y: 0;
                background-position-x: 10px;
                background-size: contain;
            }
        }
    }
    margin-bottom:30px;
}
.activity-menu-wrapper .icon.icon-restart {
    background-image: url(/nk360/shared/lib/im/images/icon-restart.svg);
}
.activity-menu-wrapper .icon.icon-pause {
    background-image: url(/nk360/shared/lib/im/images/icon-play.svg);
}
.activity-menu-wrapper .icon.icon-play {
    background-image: url(/nk360/shared/lib/im/images/icon-pause.svg);
}
#congrats-instructions {
    font-family: 'Open Sans';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    z-index: 1000;
    overflow-y: auto;
    font-size: 110%;
    .congrats-instructions-container {
        z-index: 101;
        position: relative;
        text-align: center;
        padding: 100px 20px;
        @media screen and ($screen-xs) {
            padding: 30px 30px 100px;
        }
        h2,
        h3 {
            color: white !important;
            font-family: 'Open Sans';
        }
        p {
            margin: 30px 0;
            font-family: 'Open Sans';
        }
        a {
            font-family: 'Open Sans';
        }
        .row {
            margin-bottom: 20px;
        }
        img {
            margin: 80px 0;
            @media screen and ($screen-md) and ($screen-landscape) {
                margin: 10px 0;
            }
            @media (max-width: 800px) {
                margin: 30px 0;
            }
        }
    }
}
.quiz-detail {
    font-weight: bold;
    bottom: 0;
    text-align: center;

    @media screen and ($screen-xs) and ($screen-portrait) {
        position: relative !important;
    }
    @media screen and ($screen-xs) and ($screen-landscape) {
        position: relative !important;
    }
}
.solution-text {
    font-weight: bold;
}
.restart-game {
    color: white;
    background: #2e3742;
    font-size: 21px;
    &:hover {
        background: #2e3742 !important;
        color: white !important;
    }
}
@media (max-width: 800px) {
    * {
        /* Remove CSS transitions
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;*/
        /* Remove CSS transforms
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;*/
        /* RemoveCSS animations*/
        
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}


.waves {
    width: 441px;
    height:62px;
    background: url(../assets/sprite-sheets/waves.png) no-repeat;
    animation: move-waves 1.5s steps(14) infinite, left-to-right 18.5s steps(100) infinite;
    margin-left: 100%;
    position: absolute;
    z-index: 100;
    top: 150px;
}

.waves-1 {
    width: 441px;
    height:62px;
    background: url(../assets/sprite-sheets/waves.png) no-repeat;
    animation: move-waves 1.5s steps(14) infinite, left-to-right 18.5s steps(100) infinite;
    margin-left: 150%;
    position: absolute;
    z-index: 100;
    top: 325px;
}

.waves-2 {
    width: 441px;
    height:62px;
    background: url(../assets/sprite-sheets/waves.png) no-repeat;
    animation: move-waves 1.5s steps(14) infinite, left-to-right 18.5s steps(100) infinite;
    margin-left: 120%;
    position: absolute;
    z-index: 100;
    top: 510px;
}
@keyframes move-waves {
  100%{background-position:-6174px; }
}
@keyframes left-to-right {
    100% {
        margin-left: -431px;
    }
}
.number-of-salmon {
    position: fixed;
    top: 47%;
    margin-left: 1em;
    z-index: 10;
    transition: top 3s;
    left: 60px;
    width: 30px;
    height: 30px;
    border-radius: 250px;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    background: #fac55f;
    border: 2px solid white;
    opacity: 0;
    display: none;
    transition: top 3s, left 10s;
    z-index: 11;
    @media (max-width: 990px) {
        display: block;
    }
}