hr {
	width:25%;
}

.clear-left {
	clear:left;
}

.faded {
	opacity:.5;
}

.hotspot-faded {
	opacity:.2;
}

.close-faded {
	opacity:0;
}

.not-faded {
	opacity:1;
}

.cursor-pointer {
	cursor:pointer;
}

.btn {
	border-color:white !important;
}

.btn:hover, .btn:focus, .btn:active {
	background-color:white !important;
	color:#2e3742 !important;
	box-shadow:none;
}

.quiz-options {
	.btn {
		border-color: #2e3742 !important;
		box-shadow:none;
		font-weight:bold;
		color: #2e3742;
	}

	.btn:hover {
		background-color:#2e3742 !important;
		/*border:3px solid #2e3742 !important;*/
		color: #FFF !important;
		box-shadow:none;
	}

	.btn:focus, .btn:active {
		background-color: #2e3742 !important;
		color: white !important;
		box-shadow:none;
	}
}

p {
	@media (max-width: 990px) {
		font-size:.8rem;
	}
}
