/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic");
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hidden {
  display: none !important; }

* {
  font-family: "Open Sans", sans-serif; }

h4 {
  font-size: 1rem; }

.all-caps {
  text-transform: uppercase; }

.letter-spacing-1 {
  letter-spacing: 1px; }

html,
body {
  background: #2e3742;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

.rel {
  position: relative; }

.abs {
  position: absolute; }
  .abs.right {
    right: 0; }
  .abs.left {
    left: 0; }
  .abs.top {
    top: 0; }
  .abs.bottom {
    bottom: 0; }

footer {
  color: white;
  height: 50px;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  padding: 11px; }
  footer.transparent {
    background: transparent; }
  footer img {
    height: 34px;
    position: relative;
    top: -4px; }
    @media screen and (max-width: 767px) {
      footer img {
        display: none; } }
  footer ul {
    margin-top: 6px; }
    footer ul li:not(:last-child):after {
      content: '|';
      margin: 0 0 0 10px;
      opacity: 0.5; }
    footer ul li a {
      color: white; }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
        color: white; }

#instructions {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  z-index: 1000; }
  #instructions .instructions-container {
    z-index: 101;
    position: relative;
    text-align: center;
    padding: 100px 20px; }
    @media screen and (max-width: 767px) {
      #instructions .instructions-container {
        padding: 30px; } }

[data-toggle="tooltip"] {
  border-bottom: 1px dotted #2e3742;
  transition: all 0.5s; }
  [data-toggle="tooltip"]:hover, [data-toggle="tooltip"]:focus, [data-toggle="tooltip"]:active {
    border-bottom: 1px dotted #f1f2f2; }
  [data-toggle="tooltip"].invert {
    border-bottom: 1px dotted white; }
    [data-toggle="tooltip"].invert:hover, [data-toggle="tooltip"].invert:focus, [data-toggle="tooltip"].invert:active {
      border-bottom: 1px dotted #9eb2c1; }

[data-pronounce] {
  background-color: #f1f2f2;
  transition: all 0.5s; }
  [data-pronounce]:hover, [data-pronounce]:focus, [data-pronounce]:active {
    background-color: #9eb2c1; }
  [data-pronounce].invert {
    background-color: #2e3742; }
    [data-pronounce].invert:hover, [data-pronounce].invert:focus, [data-pronounce].invert:active {
      background-color: #9eb2c1; }

.btn {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  border-width: 2px;
  padding: .75rem 1.25rem .85rem;
  cursor: pointer; }
  .btn.btn-lg {
    padding: 1rem 1.75rem 1.1rem; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: white;
    border-color: white;
    color: #2e3742 !important; }

.activity-menu-wrapper > div {
  z-index: 100; }
.activity-menu-wrapper .icon {
  width: 36px;
  height: 36px;
  margin: 10px 5px;
  display: inline-block;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all;
  cursor: pointer; }
  .activity-menu-wrapper .icon:last-of-type {
    margin-right: 15px; }
  .activity-menu-wrapper .icon:hover, .activity-menu-wrapper .icon:focus, .activity-menu-wrapper .icon:active {
    opacity: 0.5; }
  .activity-menu-wrapper .icon.icon-info {
    background-image: url(../images/icon-info.svg); }
  .activity-menu-wrapper .icon.icon-home {
    background-image: url(../images/icon-home.svg); }
  .activity-menu-wrapper .icon.icon-print {
    background-image: url(../images/icon-print.svg); }

[data-gallery] {
  width: 32px;
  height: 32px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block;
  background-color: red;
  position: absolute;
  bottom: 10px;
  right: 10px; }

html,
body {
  background: #f1f2f2; }

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#static-ui .guiding-question {
  position: fixed;
  top: 20px;
  width: 100%;
  text-align: center;
  pointer-events: none; }
#static-ui .print-preview-btn {
  position: absolute;
  bottom: 80px;
  right: 30px; }

#step-by-step-cards {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit; }
  #step-by-step-cards > .slick-dots {
    position: fixed;
    bottom: 60px; }
  #step-by-step-cards .step {
    position: relative;
    height: 100%; }
    #step-by-step-cards .step .step-container {
      width: 540px;
      margin: 100px auto 0px;
      background: white;
      padding: 40px; }
      #step-by-step-cards .step .step-container.step-container-lg {
        width: 960px; }
  #step-by-step-cards .card-slider {
    position: relative; }
    #step-by-step-cards .card-slider .card-slider-container {
      max-height: 400px;
      margin-bottom: 20px; }
      #step-by-step-cards .card-slider .card-slider-container .step.selected .selected-overlay {
        opacity: 1; }
      #step-by-step-cards .card-slider .card-slider-container .step [data-gallery] {
        z-index: 9; }
      #step-by-step-cards .card-slider .card-slider-container .step .selected-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 255, 0, 0.5);
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%; }
      #step-by-step-cards .card-slider .card-slider-container .step-container-inner {
        max-width: 80%;
        display: table;
        margin: 0 auto;
        text-align: center;
        position: relative; }
      #step-by-step-cards .card-slider .card-slider-container .slick-dots {
        position: absolute;
        bottom: -40px; }
    #step-by-step-cards .card-slider .nav-arrow {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      width: 50px;
      height: 50px;
      background: black;
      border-radius: 99px;
      opacity: 1;
      transition: 0.5s all; }
      #step-by-step-cards .card-slider .nav-arrow.slick-disabled {
        opacity: 0.4; }
      #step-by-step-cards .card-slider .nav-arrow.nav-arrow-left {
        left: 20px; }
      #step-by-step-cards .card-slider .nav-arrow.nav-arrow-right {
        right: 20px; }
    #step-by-step-cards .card-slider .image-caption-container {
      display: table-cell;
      position: relative;
      padding: 0;
      margin: 0; }
      #step-by-step-cards .card-slider .image-caption-container .featured {
        background: red;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 20px;
        right: 20px; }
        #step-by-step-cards .card-slider .image-caption-container .featured.active {
          background: green; }
    #step-by-step-cards .card-slider .image-caption-form {
      display: table-cell;
      padding: 20px;
      vertical-align: top; }
      #step-by-step-cards .card-slider .image-caption-form textarea {
        padding: 10px;
        width: 240px;
        height: 120px;
        margin: 0; }

#navigation .nav-arrow {
  position: fixed;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 99px;
  opacity: 1;
  transition: 0.5s all; }
  #navigation .nav-arrow.slick-disabled {
    opacity: 0.4; }
  #navigation .nav-arrow.nav-arrow-left {
    left: 20px; }
  #navigation .nav-arrow.nav-arrow-right {
    right: 20px; }

.slick-dots {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 auto; }
  .slick-dots > li {
    display: inline-block; }
    .slick-dots > li.slick-active > a,
    .slick-dots > li.slick-active > button {
      background-color: orange; }
    .slick-dots > li > a,
    .slick-dots > li > button {
      display: block;
      background: #9eb2c1;
      width: 18px;
      height: 18px;
      text-indent: -99999px;
      padding: 0;
      margin: 0 2px;
      border: none;
      border-radius: 99px;
      outline: none; }

#print-preview {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  overflow: auto; }
  #print-preview .print-preview-container {
    width: 960px;
    margin: 100px auto;
    position: relative;
    background: white;
    padding: 50px;
    z-index: 10; }
    #print-preview .print-preview-container.traditional .paper-preview-headline {
      font-weight: bold;
      font-style: italic;
      font-family: 'Times New Roman';
      font-size: 46px;
      line-height: 1.1; }
    #print-preview .print-preview-container.traditional .paper-preview-byline {
      font-family: 'Times New Roman', serif; }
    #print-preview .print-preview-container.modern .paper-preview-headline {
      font-family: 'Open Sans Condensed';
      font-weight: bold;
      font-size: 46px;
      line-height: 1.1; }
    #print-preview .print-preview-container.modern .paper-preview-byline {
      font-family: 'Open Sans', serif; }
  #print-preview .paper-preview-header {
    height: 100px;
    background: gray;
    margin-bottom: 20px; }
  #print-preview .paper-preview-headline {
    height: 96px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; }
  #print-preview .paper-preview-byline {
    margin-bottom: 10px;
    font-style: italic; }
  #print-preview .close-preview {
    width: 44px;
    height: 44px;
    display: block;
    background-image: url(../shared/images/icon-close.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    right: -60px; }

/*# sourceMappingURL=main.css.map */
