/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hidden {
  display: none !important; }

* {
  font-family: "Open Sans", sans-serif; }

h4 {
  font-size: 1rem; }

.all-caps {
  text-transform: uppercase; }

.letter-spacing-1 {
  letter-spacing: 1px; }

html,
body {
  background: #231f20;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

.rel {
  position: relative; }

.abs {
  position: absolute; }
  .abs.right {
    right: 0; }
  .abs.left {
    left: 0; }
  .abs.top {
    top: 0; }
  .abs.bottom {
    bottom: 0; }

footer {
  color: white;
  height: 50px;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  padding: 11px; }
  footer.transparent {
    background: transparent; }
  footer img {
    height: 34px;
    position: relative;
    top: -4px; }
    @media screen and (max-width: 767px) {
      footer img {
        display: none; } }
  footer ul {
    margin-top: 6px; }
    footer ul li:not(:last-child):after {
      content: '|';
      margin: 0 0 0 10px;
      opacity: 0.5; }
    footer ul li a {
      color: white; }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
        color: white; }

#instructions {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  z-index: 1000; }
  #instructions .instructions-container {
    z-index: 101;
    position: relative;
    text-align: center;
    padding: 100px 20px; }
    @media screen and (max-width: 767px) {
      #instructions .instructions-container {
        padding: 30px; } }

[data-toggle="tooltip"] {
  border-bottom: 1px dotted #231f20;
  transition: all 0.5s; }
  [data-toggle="tooltip"]:hover, [data-toggle="tooltip"]:focus, [data-toggle="tooltip"]:active {
    border-bottom: 1px dotted #f1f2f2; }
  [data-toggle="tooltip"].invert {
    border-bottom: 1px dotted white; }
    [data-toggle="tooltip"].invert:hover, [data-toggle="tooltip"].invert:focus, [data-toggle="tooltip"].invert:active {
      border-bottom: 1px dotted #939598; }

[data-pronounce] {
  background-color: #f1f2f2;
  transition: all 0.5s; }
  [data-pronounce]:hover, [data-pronounce]:focus, [data-pronounce]:active {
    background-color: #939598; }
  [data-pronounce].invert {
    background-color: #231f20; }
    [data-pronounce].invert:hover, [data-pronounce].invert:focus, [data-pronounce].invert:active {
      background-color: #939598; }

.btn {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  border-width: 2px;
  padding: .75rem 1.25rem .85rem;
  cursor: pointer; }
  .btn.btn-lg {
    padding: 1rem 1.75rem 1.1rem; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: white;
    border-color: white;
    color: #231f20 !important; }

.activity-menu-wrapper > div {
  z-index: 100; }
.activity-menu-wrapper .icon {
  width: 44px;
  height: 44px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block; }
  .activity-menu-wrapper .icon.icon-info {
    background-color: blue; }
  .activity-menu-wrapper .icon.icon-home {
    background-color: red; }
  .activity-menu-wrapper .icon.icon-print {
    background-color: yellow; }

[data-gallery] {
  width: 32px;
  height: 32px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block;
  background-color: red;
  position: absolute;
  bottom: 10px;
  right: 10px; }

html,
body {
  background: #f1f2f2; }

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#static-ui .guiding-question {
  position: fixed;
  top: 20px;
  width: 100%;
  text-align: center;
  pointer-events: none; }
#static-ui .print-preview-btn {
  position: absolute;
  bottom: 80px;
  right: 30px; }

#step-by-step-cards {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit; }
  #step-by-step-cards .step {
    position: relative;
    height: 100%; }
    #step-by-step-cards .step .step-container {
      width: 540px;
      margin: 100px auto 0px;
      background: white;
      padding: 40px; }
      #step-by-step-cards .step .step-container.step-container-lg {
        width: 960px; }

#navigation .nav-arrow {
  position: fixed;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 99px;
  opacity: 1;
  transition: 0.5s all; }
  #navigation .nav-arrow.slick-disabled {
    opacity: 0.4; }
  #navigation .nav-arrow.nav-arrow-left {
    left: 20px; }
  #navigation .nav-arrow.nav-arrow-right {
    right: 20px; }

.slick-dots {
  position: fixed;
  bottom: 60px;
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 auto; }
  .slick-dots > li {
    display: inline-block; }
    .slick-dots > li.slick-active > a {
      background-color: orange; }
    .slick-dots > li > a {
      display: block;
      background: #939598;
      width: 18px;
      height: 18px;
      padding: 0;
      margin: 0 2px;
      border-radius: 99px; }

#print-preview {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  overflow: auto; }
  #print-preview .print-preview-container {
    width: 960px;
    margin: 100px auto;
    position: relative;
    background: white;
    padding: 50px;
    z-index: 10; }

/*# sourceMappingURL=main.css.map */
