body {
    font-size: 1rem;
    @media screen and ($screen-ltxl) {
        font-size: .9rem;
    }
    @media screen and ($screen-ltlg) {
        font-size: .8rem;
    }

    p {
        font-size: 1rem;
        @media screen and ($screen-ltxl) {
            font-size: .9rem;
        }
        @media screen and ($screen-ltlg) {
            font-size: .8rem;
        }
    }
    textarea {
        -webkit-user-select: all;
        /* Chrome all / Safari all */
        
        -moz-user-select: all;
        /* Firefox all */
        
        -ms-user-select: all;
        /* IE 10+ */
        
        user-select: all;
    }
    .black-text {
        color: #353535;
    }
    a {
        &.link-color {
            color: #4BADa6;
            text-decoration: underline;
            font-size: 75%;
            display: inine-block;
            padding-right: 25px;
        }
    }
    h3 {
        color: #006986;
        
        &.yellow-underline {
            display: inline-block;
            border-bottom: 3px solid #f6b851;
            padding-bottom: 5px;
        }
    }
    .disabled {
        opacity: .5 !important;
    }
    .pencil {
        background: url(/nk360/shared/lib/im/images/icon-pencil.svg) no-repeat;
        background-size: 16px;
        height: 16px;
        margin: 0;
        pointer-events: none;
        position: absolute;
        top: 16px;
        width: 16px;
        right: 10px;
    }
    .text-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        h3 {
            color: white;
            text-align: center;
            vertical-align: middle;
            line-height: 25vh;
            position: relative;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, .35);

            @media screen and ($screen-xs) and ($screen-portrait) {
                line-height: 20vh;
            }
            @media screen and ($screen-xs) and ($screen-landscape) {
                line-height: 40vh;
            }
        }
    }
    .info {
        margin-top: 20px;
    }
    @media screen and ($screen-xs) {
        overflow: scroll;
    }
}
.photo-container {
    text-align: center;
    background: #636365;
    height: auto;
    position: relative;
}
.photo {
    overflow: hidden;
    padding: 0;
    height: 25vh;
    position: relative;

    @media screen and ($screen-xs) and ($screen-portrait) {
        height: 20vh;
    }    
    @media screen and ($screen-xs) and ($screen-landscape) {
        height: 100%;
    }

    .photo-overlay {
        background: #016A87;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: .65;
        background-blend-mode: multiply;
    }
    img {
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
    }
}
small,
.small {
    font-size: 55%;
    font-weight: 100;
}
.annotation-screen {
    width: 90%;
    margin: 20px auto 0;
    height: 75vh;

    @media screen and ($screen-md) and ($screen-landscape) {
        height: 68vh;
        width: 86%;
    }
    @media screen and ($screen-sm) and ($screen-portrait) {
        height: 68vh;
        width: 86%;
        margin-top: 0;
    }
    @media screen and ($screen-xs) and ($screen-landscape) {
        margin-top: 0px;
    }
    @media screen and ($screen-xs) and ($screen-portrait) {
        height: auto;
        width: 100%;
        margin-top: 0px;
    }

    .annotation-item {
        height: 75vh;
        background: #FFF;
        width: 90%;
        margin: 0 auto;
        box-shadow: rgba(0, 00, 0, 0.35) 0 2px 15px 0;

        @media screen and ($screen-md) and ($screen-landscape) {
            height: 68vh;
        }
        @media screen and ($screen-sm) and ($screen-portrait) {
            height: 68vh;
            width: 100%;
        }
        @media screen and ($screen-xs) and ($screen-landscape) {
            height: 42vh;
            width: 100%;
        }
        @media screen and ($screen-xs) and ($screen-portrait) {
            height: 56vh;
            width: 100%;
        }

        .top {
            height: 25vh;

            @media screen and ($screen-xs) and ($screen-portrait) {
                height: 20vh;
            }
            @media screen and ($screen-xs) and ($screen-landscape) {
                height: 100%;
                width: 33%;
                display: inline-block;
                vertical-align: top;
                position: relative;
            }
        }
        .bottom {
            padding: 20px 8% 0;
            height: 50vh;
            @media screen and ($screen-md) and ($screen-landscape) {
                height: 43vh;
            }
            @media screen and ($screen-sm) and ($screen-portrait) {
                height: 43vh;
            }
            @media screen and ($screen-xs) and ($screen-landscape) {
                padding: 15px;
                height: 100%;
                width: 66%;
                display: inline-block;
                vertical-align: top;
                overflow: hidden;
            }
            @media screen and ($screen-xs) and ($screen-portrait) {
                height: 37vh;
            }

            .body {
                height: 36vh;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;

                @media screen and ($screen-md) and ($screen-landscape) {
                    height: 26vh;
                }
                @media screen and ($screen-sm) and ($screen-portrait) {
                    height: 30vh;
                }
                @media screen and ($screen-xs) and ($screen-landscape) {
                    height: 15vh;
                    margin-bottom: 10px;
                    overflow-y: auto;
                }
                @media screen and ($screen-xs) and ($screen-portrait) {
                    height: 18vh;
                }
            }
            .button {
                position: absolute;
                bottom: 25px;
                margin: 0 auto;
                left: 8%;
                right: 8%;

                @media screen and ($screen-xs) and ($screen-landscape) {
                    position: relative;
                    bottom: 0;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                }
            }
        }
        .col-no-padding {
            padding: 0;
        }
    }
    .copyright {
        color: #333232;
        margin: 12px 0;
    }
}
.theme {
    font-weight: bold;
    color: black;
    letter-spacing: .5px;
    font-size: .8rem;
    margin-top: 15px;
    @media screen and ($screen-ltlg) {
        font-size: .5rem;
    }
}
.markers-remaining {
    color: black;
    letter-spacing: .5px;
    text-align: center;
    font-size: .8rem;

    @media screen and ($screen-ltlg) {
        font-size: .6rem;
    }
}
.pin-image {
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
}
.pin-text {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20px;
}
.pin-text p {
    margin: 0;
}
.dotted {
    font-weight: bold;
}
.original-text {
    background: #fff;
    padding: 30px 40px 30px 30px;
    height: 77vh;

    @media screen and ($screen-md) and ($screen-landscape) {
        height: 70vh;
    }
    @media screen and ($screen-sm) and ($screen-portrait) {
        height: 61vh;
    }
    @media screen and ($screen-xs) and ($screen-landscape) {
        height: auto;
    }
    @media screen and ($screen-xs) and ($screen-portrait) {
        height: 69vh;
        padding: 25px;
    }

    .content-height {
        max-height: 70vh;
        overflow-y: auto;
        padding: 0 10px 0;
        -webkit-overflow-scrolling: touch;

        @media screen and ($screen-md) and ($screen-landscape) {
            max-height: 62vh;
        }
        @media screen and ($screen-xs) and ($screen-landscape) {
            max-height: none;
            margin-bottom: 200px;
        }
        @media screen and ($screen-xs) and ($screen-portrait) {
            max-height: 57vh;
            padding-bottom: 140px;
        }
    }
}
.markers-container {
    padding: 25px;
    background: rgba(12, 92, 154, 0.30);
}
.original-text .photo {
    max-height: 350px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}
.print-button {
    margin-top: 35px;
    .btn-lg {
        width: 100% !important;
    }
    @media screen and ($screen-ltlg) {
        margin-top: 20px;
    }
}
.original-text-detail {
    box-shadow: rgba(0, 00, 0, 0.35) 4px 2px 10px 0;
    h3 {
        color: black;
        @media screen and ($screen-ltlg) {
            font-size: 1.25rem;
        }
    }
    .outer-top {
        padding: 25px;
        background: white;

        @media screen and ($screen-xs) and ($screen-portrait) {
            height: 37vh;
        }
    }
    .top {
        height: 22vh;
        overflow-y: auto;
        background: white;
        -webkit-overflow-scrolling: touch;

        @media screen and ($screen-xs) and ($screen-portrait) {
            height: 28vh;
        }
        @media screen and ($screen-xs) and ($screen-landscape) {
            height: auto;
            margin-bottom: 200px;
        }
    }
}
.dotted {
    font-weight: bold;
}
.print-view {
    display: none;
}

.mobile-markers {
	position:absolute;
	bottom:50px;
	background: rgba(#2e3742, 0.85); 
	padding:20px 50px 0;
	width:100%;
	z-index: 99;
	left:0;
    transition: 0.5s all;

    &.display-mobile-markers {
        transform: translateY(115px);
    }

    .toggle-mobile-markers {
        position: absolute;
        top: -29px;
        background: rgba(46, 55, 66, 0.85);
        padding: 5px 10px;
        color:white;
        text-decoration: none;
    }

    @media screen and ($screen-xs) and ($screen-portrait) {
        padding: 15px 15px 0;

        ul {
            margin-bottom: 0;
        }
    }

    ul { text-align: center; }
    li {
        margin: 0 10px !important;
        text-align: center;

        @media screen and ($screen-xs) and ($screen-portrait) {
            margin: 0 5px !important;
        }
        
        .markers-remaining {
            color: white;
            
        }
        .theme {
            color: white;
            font-size: 1rem;
            
            @media screen and ($screen-xs) and ($screen-portrait) {
                font-size: 0.8rem;
            }
        }
    }
}
.mobile-menu {
    background: $midgray;
    position: relative;
    width: 86%;
    margin: 0 auto;
    box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.3);

    @media screen and ($screen-xs) and ($screen-portrait) {
        width: 100%;
        margin-top: 65px;
    }
    @media screen and ($screen-xs) and ($screen-landscape) {
        width: 90%;
    }

    .half-menu {
        width: 49.5%;
        display: inline-block;
        border-bottom: 4px solid transparent;
        padding: 12px 16px;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        background: rgba(0,0,0,0.05);

        @media screen and ($screen-xs) and ($screen-landscape) {

        }

        a {
            color: white;
            text-decoration: none;
        }

        &.active {
            border-bottom: 4px solid white;
            background: transparent;
        }
    }
}

.original-text {
    box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, .3);
    .photo {
        max-height: 350px;
        overflow: hidden;
        margin-bottom: 30px;
        position: relative;
    }
    a {
        text-decoration: underline;
    }
}
.photo .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    color: white;
    background: rgba(0, 0, 0, .25);
    padding-top: 20px;
    p {
        text-align: center;
    }
}
.instructions-container {
    .btn-lg {
        border-color: white;
        margin-bottom: 40px;
        &:hover {
            color: #2e3742 !important;
            border-color: white;
            background: white;
        }
    }
}
#lost-progress {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    z-index: 100;

    h1, h4 {
        color: white;
    }
    h1 {
        @media screen and ($screen-xs) and ($screen-landscape) {
            font-size: 2.4rem;
        }
        @media screen and ($screen-xs) and ($screen-portrait) {
            font-size: 3rem;
        }
    }
    h4 {
        margin-bottom: 20px;
        
        @media screen and ($screen-xs) and ($screen-landscape) {
            font-size: 0.8rem;
            margin-bottom: 10px;
        }
    }
    .instructions-container {
        z-index: 101;
        position: relative;
        text-align: center;
        padding: 100px 20px;
    }
    .progress-options {
        margin: 100px auto 0;
        width: 325px;

        @media screen and ($screen-md) and ($screen-landscape) {
            margin: 50px auto 0;
        }
        @media screen and ($screen-xs) {
            margin-top: 20px;
        }

        .btn-lg {
            width: 325px;
            border-color: white;
            display: block;
            margin-bottom: 20px;

            @media screen and ($screen-xs) and ($screen-landscape) {
                display: inline-block;
                margin: 10px;
                font-size: 1.2rem;
            }

            &:hover {
                color: #2e3742 !important;
                border-color: white;
                background: white;
            }
        }
    }
}
@media screen and ($screen-xs) {
    #lost-progress .instructions-container {
        padding: 30px;
    }
}
.marker {
    cursor: pointer;
    img {
        //filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
        margin: 0 auto;
        width: 60px;
        display: inherit;

        @media screen and ($screen-md) and ($screen-landscape) {
            width: 30px;
        }
        @media screen and ($screen-ltmd) {
            width: 30px;
        }
    }
}
.markers-container {
    .list-inline {
        margin: 30px 0 45px;
        @media screen and ($screen-ltmd) {
            overflow-x: auto;
        }
        @media screen and ($screen-md) and ($screen-landscape) {
            margin: 15px 0;
        }
        .list-inline-item {
            margin-right: 7px;
            text-align: center;
            display: inline-block;
            text-align: center;
            width: 30%;

            @media screen and ($screen-md) and ($screen-landscape) {
                margin-right: 3%;
                width: 29%;
            }
        }
    }
}
.btn-lg {
    width: 325px;
}
/** Pins **/

.pin-drop:not(.photo-container).ui-droppable-hover {
    background: yellow;
}
.pin-drop {
    position: relative;
    display: inline-block;
}
.marker-in-text {
    position: absolute;
    padding: 10px;
    background: #fff !important;
    /* Must match Js */
    
    border: none;
    /* Must match Js */
    
    border-radius: 0;
    width: 320px;
    /* Must match Js */
    
    height: 200px;
    z-index: 2;
    bottom: 40px;
    left: 0;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

    @media screen and ($screen-xs) and ($screen-portrait) {
        height: auto;
        background: transparent !important;
        box-shadow: none;
    }

    .mobile-text-container {
        height: 100%;

        @media screen and ($screen-xs) and ($screen-portrait) {
            position: fixed;
            left: 30px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
            padding: 15px;
            height: 180px;
            z-index: 10000;
            top: 150px;
            right: 30px;
        }
    }
}
.marker-in-text.visible {
    z-index: 3;
}
.marker-in-text img {
    width: 50px;
    height: auto;
    //bottom: -30px;
    //left: -25px !important;
    position: absolute;
    opacity: .5;
    cursor: pointer;
    
    //filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
    z-index: 4;
}
.hidden-mobile {
    display: none;
}
.marker-in-text textarea {
    border-radius: 0;
    border: thin solid #ccc;
    width: 100%;
    padding: 8px;
    height: 100%;
    float: left;
    width: 250px;

    @media screen and ($screen-xs) and ($screen-portrait) {
        width: 240px;
        margin-right: 10px;
    }
}
.marker-in-text .delete-btn {
    float: right;
    width: 35px;
    height: 35px;
    display: block;
    background-image: url('../assets/icon-trash.svg');
    background-size: cover;
    cursor: pointer;
    position: relative;
    opacity: 1;
    transition: all 0.0s;
    &:hover, &:active {
        opacity: 0.5;
    }
    &:after {
        content: 'Delete';
        display: block;
        top: 38px;
        left: -2px;
        position: absolute;
        font-size: 0.8rem;
    }
}
.marker-in-text .close-btn {
    float: right;
    width: 35px;
    height: 35px;
    display: block;
    background-image: url('../assets/icon-close.svg');
    background-size: cover;
    cursor: pointer;
    position: relative;
    opacity: 1;
    margin-top: 30px;
    transition: all 0.0s;

    &:hover, &:active {
        opacity: 0.5;
    }
    &:after {
        content: 'Close';
        display: block;
        top: 38px;
        left: -2px;
        position: absolute;
        font-size: 0.8rem;
    }
}
.marker-in-text.pin-hidden {
    //width: 0 !important;
    height: 0 !important;
    padding: 0 !important;

    .mobile-text-container, .delete-btn, textarea {
        display: none !important;
    }
}
.delete-pin {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    margin-top: -10px;
    margin-left: -10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    padding-top: 25px;

    @media screen and ($screen-xs) and ($screen-portrait) {
        margin-top: -15px;
        margin-left: -15px;
    }
}
.delete-pin span {
    display: block;
    margin-top: 30px;
}
.delete-pin {
    .btn {
        border-color: white;
        margin: 10px 15px 0 15px;
        color: white;
        font-weight: bold;
        &:hover {
            color: #2e3742 !important;
            border-color: white;
            background: white;
        }
    }
}
.defintions-icon {
    position: relative;
    /* Adjust these values accordingly */
    
    top: -6px;
    left: 5px;
    padding-left: 20px;
    background: url('../assets/icon-definition.svg') no-repeat;
    background-position: left center;
    background-size: contain;
    padding: 10px;
    padding-top: 0;
    @media screen and ($screen-ltlg) {
        padding: 7px;
        padding-top: 0;
    }
}
.pin-visible {
    img {
        opacity: 1 !important;
    }
}

.display-block {
    display:block;
}

.marker-icon-svg {
    padding-left: 5px;
}

.clear-left {
    clear:left;
}

.clear-right {
    clear:right;
}

.clear-both {
    clear:both;
}

.margin-bottom-none {
    margin-bottom:none;
}