.sass-cache/
*.css.map
.DS_Store

git-automation.sh
installer.phar
composer.lock
composer.json

node_modules/
bower_components/
dist/
vendor/

plains-belonging-markup-1/
plains-belonging-markup-2/
plains-belonging-puzzle/
plains-treaty-markup/
plains-treaty-news/
pnw-fish-wars-markup-1/
pnw-fish-wars-markup-2/
pnw-fish-wars-news/
pnw-fish-wars-timeline/
pnw-history-culture-markup/
pnw-history-culture-puzzle/
pnw-history-culture-salmon/

plains1-markup1
plains1-markup2
plains1-puzzle

plains2-markup1
plains2-news

pnw1-salmon
pnw1-markup1
pnw1-puzzle

pnw2-timeline
pnw2-markup1
pnw2-markup2
pnw2-news
