#droppable-wrapper {
	width: 70%;
    display: flex;
    justify-content: space-between;
    left: 15%;
    position: relative;
    margin-top: 35px;
    z-index: 1052;
    position: absolute;
    bottom: 60px;
}

.droppable-widget {
	font-weight: 600;
    color: white;
    border: 3px solid white;
    background-color: rgba(1, 106, 135, 0.65);
   	width: 25%;
    text-align: center;
    padding: 6px;
    &:hover, &:active, &:visited {
        border: 3px solid white;
    }
    &:after {
        content: '';
    }
}

.draggable-widget {
	transition: $transition;
}


//active class for draggable
.ui-draggable-dragging,
.dragged
.answered {
	transform: scale(0.50, 0.50) !important;
    cursor: move;

}
