/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hidden {
  display: none !important; }

* {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 3.6rem; }

h4 {
  font-size: 1rem; }

.header {
  max-width: 540px;
  margin: 0 auto; }
  .header h1 {
    font-size: 1.8rem;
    font-weight: bold; }
  .header h2 {
    font-size: 0.8rem; }

.all-caps {
  text-transform: uppercase;
  font-weight: 400; }

.letter-spacing-1 {
  letter-spacing: 1px; }

.underline {
  border-bottom: 3px solid #F7B029;
  padding-bottom: 5px;
  display: inline-block; }

html,
body {
  background: #2e3742;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

.rel {
  position: relative; }

.abs {
  position: absolute; }
  .abs.right {
    right: 0; }
  .abs.left {
    left: 0; }
  .abs.top {
    top: 0; }
  .abs.bottom {
    bottom: 0; }

@media screen and (max-width: 767px) {
  .module-menu-wrapper .black-logo {
    opacity: 0; } }

footer {
  color: white;
  height: 50px;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  padding: 11px; }
  footer.transparent {
    background: transparent; }
  footer img {
    height: 34px;
    position: relative;
    top: -4px; }
    @media screen and (max-width: 767px) {
      footer img {
        display: none; } }
  footer ul {
    margin-top: 6px; }
    footer ul li {
      font-family: "Open Sans", sans-serif; }
      footer ul li:not(:last-child):after {
        content: '|';
        margin: 0 0 0 10px;
        opacity: 0.5; }
      footer ul li a {
        color: white;
        font-family: "Open Sans", sans-serif; }
        footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
          color: white; }

#instructions {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  z-index: 1000;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  #instructions .instructions-container {
    z-index: 101;
    position: relative;
    text-align: center;
    padding: 100px 20px; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      #instructions .instructions-container {
        padding: 60px 20px; } }
    @media screen and (max-width: 767px) {
      #instructions .instructions-container {
        padding: 30px 20px 100px; } }
    @media screen and (max-width: 767px) {
      #instructions .instructions-container h1 {
        font-size: 2.7rem; } }
    #instructions .instructions-container h2 {
      color: white !important; }
    #instructions .instructions-container img {
      max-width: 300px; }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        #instructions .instructions-container img {
          max-width: 250px; } }
    #instructions .instructions-container .row {
      margin-bottom: 20px; }

#credits-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  color: white;
  text-align: center;
  padding: 200px 100px; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    #credits-container {
      padding: 120px 60px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #credits-container {
      padding: 80px 40px; } }
  @media screen and (max-width: 767px) {
    #credits-container {
      padding: 80px 40px; } }
  #credits-container h1 {
    font-size: 2.1rem; }
  #credits-container a {
    color: white;
    text-decoration: underline; }
  #credits-container span {
    display: block;
    margin-top: 40px;
    font-style: italic; }

span[data-toggle="tooltip"] {
  border: 1px solid #206CAF;
  border-radius: 4px;
  padding: 1px 3px;
  transition: all 0.5s;
  color: black;
  cursor: pointer;
  display: inline-block; }
  span[data-toggle="tooltip"]:hover, span[data-toggle="tooltip"]:focus, span[data-toggle="tooltip"]:active {
    background-color: #206CAF;
    color: white; }
    span[data-toggle="tooltip"]:hover:after, span[data-toggle="tooltip"]:focus:after, span[data-toggle="tooltip"]:active:after {
      background-image: url("/nk360/shared/lib/im/images/icon-definition-white.svg"); }
  span[data-toggle="tooltip"]:after {
    content: '';
    display: inline-block;
    background-image: url("/nk360/shared/lib/im/images/icon-definition.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-top: -3px;
    vertical-align: middle;
    transition: all 0.5s; }
  @media print {
    span[data-toggle="tooltip"] {
      border: none;
      padding: none;
      border-radius: none; }
      span[data-toggle="tooltip"]:after {
        content: none;
        display: none; } }
  .lg span[data-toggle="tooltip"] {
    color: white; }
    .lg span[data-toggle="tooltip"]:after {
      background-image: url("/nk360/shared/lib/im/images/icon-definition-white.svg"); }

[data-pronounce] {
  border: 1px solid #D67169;
  border-radius: 4px;
  padding: 1px 3px;
  transition: all 0.5s;
  color: black;
  cursor: pointer;
  display: inline-block; }
  [data-pronounce]:hover, [data-pronounce]:focus, [data-pronounce]:active {
    background-color: #D67169;
    color: white; }
    [data-pronounce]:hover:after, [data-pronounce]:focus:after, [data-pronounce]:active:after {
      background-image: url("/nk360/shared/lib/im/images/icon-audio-white.svg"); }
  [data-pronounce]:after {
    content: '';
    display: inline-block;
    background-image: url("/nk360/shared/lib/im/images/icon-audio.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    vertical-align: middle;
    transition: all 0.5s; }
  @media print {
    [data-pronounce] {
      border: none;
      padding: none;
      border-radius: none; }
      [data-pronounce]:after {
        content: none;
        display: none; } }
  .lg [data-pronounce] {
    color: white; }
    .lg [data-pronounce]:after {
      background-image: url("/nk360/shared/lib/im/images/icon-audio-white.svg"); }

.btn {
  background-color: transparent;
  border-color: #4BADA6;
  border-radius: 0;
  border-width: 3px;
  padding: .75rem 1.25rem .85rem;
  font-weight: 500;
  cursor: pointer;
  color: #4BADA6; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: #4BADA6;
    border-color: #4BADA6;
    color: white !important; }
  .btn.btn-lg {
    padding: 1rem 1.75rem 1.1rem;
    border-width: 4px; }
  .btn.btn-white {
    border-color: white;
    color: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
    .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
      color: #4BADA6 !important;
      background-color: white;
      border-color: white;
      text-shadow: none; }
  .btn.active {
    border-color: #4BADA6;
    background-color: #4BADA6;
    color: white !important;
    opacity: 1; }
    .btn.active:hover, .btn.active:focus, .btn.active:active {
      color: white !important;
      background-color: #4BADA6;
      border-color: #4BADA6;
      opacity: 0.65; }

.activity-menu-wrapper > div {
  z-index: 100; }
.activity-menu-wrapper .icon {
  width: 36px;
  height: 36px;
  margin: 10px 5px;
  display: inline-block;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all;
  cursor: pointer; }
  .activity-menu-wrapper .icon:last-of-type {
    margin-right: 15px; }
  .activity-menu-wrapper .icon:hover, .activity-menu-wrapper .icon:focus, .activity-menu-wrapper .icon:active {
    opacity: 0.5; }
  .activity-menu-wrapper .icon.icon-info {
    background-image: url("/nk360/shared/lib/im/images/icon-info.svg"); }
  .activity-menu-wrapper .icon.icon-home {
    background-image: url("/nk360/shared/lib/im/images/icon-home.svg"); }
  .activity-menu-wrapper .icon.icon-print {
    background-image: url("/nk360/shared/lib/im/images/icon-print.svg"); }
  .activity-menu-wrapper .icon.disabled {
    opacity: 0.4;
    cursor: default; }

[data-gallery] {
  width: 32px;
  height: 32px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-image: url("/nk360/shared/lib/im/images/icon-zoom.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
  transition: 0.5s all; }
  [data-gallery]:focus, [data-gallery]:hover, [data-gallery]:active {
    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.75)); }

@font-face {
  font-family: "Ludicrous";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ludicrous/Ludicrous.eot?") format("eot"), url("../fonts/ludicrous/Ludicrous.woff") format("woff"), url("../fonts/ludicrous/Ludicrous.ttf") format("truetype"); }
@font-face {
  font-family: "Archer Pro";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/archer-pro/ArcherPro-Book.eot?") format("eot"), url("../fonts/archer-pro/ArcherPro-Book.woff") format("woff"), url("../fonts/archer-pro/ArcherPro-Book.ttf") format("truetype"); }
@font-face {
  font-family: "Archer Pro";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/archer-pro/ArcherPro-Semibold.eot?") format("eot"), url("../fonts/archer-pro/ArcherPro-Semibold.woff") format("woff"), url("../fonts/archer-pro/ArcherPro-Semibold.ttf") format("truetype"); }
/**
 * This file includes all of the general layout styles. 
**/
#selection {
  height: 100vh;
  width: 100vw;
  background: white; }

.era-wrapper {
  display: flex;
  justify-content: center; }

div[id^="era-block"] {
  flex: 1;
  display: flex;
  height: 100vh;
  align-items: flex-end; }
  div[id^="era-block"] img {
    position: absolute; }
  div[id^="era-block"] .era-content-wrapper {
    text-align: center;
    width: 100%;
    height: 46%;
    display: flex;
    flex-direction: column;
    padding: 0px 60px 80px 60px;
    position: relative; }
    @media (min-width: 768px) and (max-width: 991px) {
      div[id^="era-block"] .era-content-wrapper {
        height: 39%;
        justify-content: space-between;
        width: 80%;
        left: 10%;
        top: 46%;
        padding-bottom: 0px; } }
    @media (max-width: 767px) {
      div[id^="era-block"] .era-content-wrapper {
        height: 39%;
        justify-content: space-between;
        width: 100%;
        left: 0%;
        top: 43%;
        padding: 0px 30px; } }
    @media screen and (max-width: 767px) and (orientation: portrait) {
      div[id^="era-block"] .era-content-wrapper {
        top: 33%;
        height: auto; } }
    @media screen and (max-width: 767px) and (orientation: landscape) {
      div[id^="era-block"] .era-content-wrapper {
        top: 20%;
        padding: 0px 30px;
        width: 80%;
        height: 60%;
        left: 10%; } }
    @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
      div[id^="era-block"] .era-content-wrapper {
        height: 60%; } }

.heading-wrapper {
  margin-bottom: 80px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/nk360/shared/lib/im/images/pnw/splash-01.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }
  .heading-wrapper img {
    position: absolute; }
    @media (max-width: 767px) {
      .heading-wrapper img {
        width: 80%; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .heading-wrapper img {
        width: 90%; } }
  .heading-wrapper h1 {
    color: white;
    margin: 0px;
    padding: 0px;
    line-height: 1;
    z-index: 2;
    text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .heading-wrapper {
      margin-top: 30px; } }

.heading-wrapper[data-era="1"] {
  background: url("/nk360/shared/lib/im/images/pnw/splash-01.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }
  .heading-wrapper[data-era="1"] h1 {
    position: relative;
    top: 10px; }
    @media (max-width: 767px) {
      .heading-wrapper[data-era="1"] h1 {
        font-size: 3em; } }

.heading-wrapper[data-era="2"] {
  background: url("/nk360/shared/lib/im/images/pnw/splash-02.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.heading-wrapper[data-era="3"] {
  background: url("/nk360/shared/lib/im/images/pnw/splash-03.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

#era-block-1 {
  background: url("../assets/timeline-segment-overlay-bg01@2x.png"), url("../assets/timeline-segment-bg01@2x.jpg");
  background-size: cover, cover; }
  #era-block-1 button:hover, #era-block-1 button:active {
    color: #006986 !important; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    #era-block-1 {
      background-position: center; } }

#era-block-2 {
  background: url("../assets/timeline-segment-bg02@2x.jpg");
  background-size: cover;
  opacity: 0.35;
  transition: 0.5s all ease-in-out; }
  #era-block-2 button:hover, #era-block-2 button:active {
    color: #ec5343 !important; }

#era-block-2.active {
  background: url("../assets/timeline-segment-overlay-bg02@2x.png"), url("../assets/timeline-segment-bg02@2x.jpg");
  opacity: 1.0;
  background-size: cover, cover; }

#era-block-3 {
  background: url("../assets/timeline-segment-bg03@2x.jpg");
  background-size: cover;
  opacity: 0.35; }
  #era-block-3 button:hover, #era-block-3 button:active {
    color: #a8bd46 !important; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    #era-block-3 {
      background-position: center; } }

#era-block-3.active {
  background: url("../assets/timeline-segment-overlay-bg03@2x.png"), url("../assets/timeline-segment-bg03@2x.jpg");
  opacity: 1.0;
  background-size: cover, cover; }

.start-timeline-btn,
.view-timeline-btn {
  font-weight: 700; }

#detail {
  background: url("../assets/bkgr-pnw@2x.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  user-select: none; }
  #detail .heading-wrapper {
    position: relative;
    top: 17px; }
    @media (max-width: 991px) {
      #detail .heading-wrapper h1 {
        font-size: 2.3em; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      #detail .heading-wrapper h1 {
        font-size: 2.4em; } }
    @media (max-width: 767px) {
      #detail .heading-wrapper {
        display: inline-flex;
        width: auto;
        padding: 0px;
        margin: 50px 0px 0px;
        height: 152px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      #detail .heading-wrapper {
        display: inline-flex;
        width: auto;
        padding: 0px;
        margin: 50px 0px 0px;
        height: 152px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      #detail .heading-wrapper {
        display: inline-flex;
        width: auto;
        padding: 0px;
        margin: 0px;
        height: 152px; } }
    @media screen and (max-width: 767px) and (orientation: landscape) {
      #detail .heading-wrapper {
        display: inline-flex;
        width: auto;
        padding: 0px;
        margin: 0px;
        height: 150px; } }
  @media (max-width: 767px) {
    #detail {
      user-select: initial;
      overflow-y: scroll;
      height: calc(100vh - 50px); } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    #detail {
      user-select: initial;
      overflow-y: scroll; } }

#explore {
  background: #a9a9ab;
  height: 100vh;
  position: relative;
  width: 100vw;
  user-select: none; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    #explore {
      user-select: initial; } }

/**
 * This file includes all of the default styling for the draggable and droppable elements. 
**/
#droppable-container {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  color: #006986;
  background-color: rgba(9, 74, 113, 0.35);
  border-radius: 52px;
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
  margin-top: 2.5%; }
  @media (max-width: 767px) {
    #droppable-container {
      display: none; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    #droppable-container {
      margin-top: 1%; } }

#era-label-start {
  width: 125px;
  text-align: right; }

.droppable-widget {
  border: 1px solid #006986;
  border-radius: 50%;
  height: 82px;
  margin: 0px 10px;
  width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #006986;
  font-size: 13px;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .droppable-widget {
      height: 70px;
      width: 70px; } }

[data-toggle="tooltip"] {
  border-bottom: none; }

.draggable-holder {
  margin-left: 20px;
  height: 115px; }
  @media (max-width: 767px) {
    .draggable-holder {
      margin: 25px 0px;
      height: 75px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .draggable-holder {
      margin: 5px 0px;
      height: 90px; } }

#draggable-wrapper {
  position: relative;
  display: flex;
  width: 90%;
  left: 5%;
  height: 50%;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    #draggable-wrapper {
      width: 75%;
      left: 7.5%; } }
  @media (max-width: 767px) {
    #draggable-wrapper {
      height: auto;
      padding-bottom: 100px; } }

.draggable-widget {
  background-color: rgba(9, 74, 113, 0.5);
  height: 115px;
  width: 325px;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  margin: 0px 20px;
  padding: 15px 15px 15px 52px;
  text-align: left;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 300; }
  .draggable-widget img {
    height: 82px;
    width: 82px;
    border: 3px solid white;
    border-radius: 50%;
    cursor: hand;
    cursor: -webkit-grab;
    cursor: grab;
    transition: all 0.5s ease-in-out; }
  .draggable-widget div {
    font-size: 13px;
    flex: 1;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
           supported by Chrome and Opera */ }
    .draggable-widget div p {
      margin-bottom: 0px; }
      @media (max-width: 767px) {
        .draggable-widget div p {
          overflow: hidden; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .draggable-widget div p {
          height: 70px;
          overflow: hidden; } }
    @media (max-width: 480px) {
      .draggable-widget div {
        font-size: 12px; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .draggable-widget {
      height: 100px;
      padding: 5px 5px 5px 35px;
      width: 100%; } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .draggable-widget {
      height: 95px;
      padding: 5px 15px 5px 35px;
      width: 385px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .draggable-widget {
      height: 90px;
      padding: 5px 5px 5px 52px; } }

.draggable-img {
  height: 82px;
  width: 82px;
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 3px;
  cursor: hand;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 3; }
  .draggable-img:hover, .draggable-img:focus {
    animation: pulse 1.5s infinite; }
  @media (max-width: 767px) {
    .draggable-img {
      height: 50px;
      width: 50px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .draggable-img {
      height: 70px;
      width: 70px; } }

.draggable-img-wrapper {
  left: -23px;
  top: -115px;
  height: 82px;
  width: 82px; }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .draggable-img-wrapper {
      top: -100px;
      height: 50px;
      width: 50px;
      position: relative;
      left: -7px; } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .draggable-img-wrapper {
      top: -95px;
      height: 50px;
      width: 50px;
      position: relative;
      left: -7px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .draggable-img-wrapper {
      top: -90px;
      height: 70px;
      width: 70px;
      position: relative;
      left: -7px; } }

.draggable-overlay {
  background: #a8bd46;
  opacity: 0.7;
  height: 82px;
  width: 82px;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer; }
  .draggable-overlay:after {
    content: url("/nk360/shared/lib/im/images/icon-checkmark.svg");
    height: 82px;
    width: 82px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 768px) and (max-width: 991px) {
      .draggable-overlay:after {
        height: 70px;
        width: 70px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .draggable-overlay {
      height: 70px;
      width: 70px; } }

.draggable-widget.dragged {
  background-color: transparent;
  box-shadow: none;
  border: none;
  height: auto;
  width: auto;
  z-index: -1;
  cursor: pointer; }
  .draggable-widget.dragged .draggable-text {
    display: none; }

.ui-draggable-dragging {
  cursor: hand;
  cursor: grabbing;
  cursor: -webkit-grabbing !important;
  z-index: 2; }

.draggable-text.active {
  display: none;
  z-index: -2; }
  @media (max-width: 767px) {
    .draggable-text.active {
      display: initial;
      z-index: initial; } }

.draggable-widget.active {
  background-color: transparent;
  border: none;
  box-shadow: none; }

.dragged .draggable-img {
  margin-left: 0px; }

.tooltip-inner {
  background-color: #ec5343;
  border-radius: 0.15rem;
  font-weight: 300; }
  .tooltip-inner::before {
    border-top-color: #ec5343 !important; }

.sortableEl-disabled .draggable-widget {
  background-color: rgba(168, 189, 70, 0.7); }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); }
  70% {
    -webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7); }
  50% {
    -moz-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
/**
 * This file includes all of the styles for the scrollable timeline. It does not use Slick Slider. 
**/
.timeline-bkgr {
  height: 100%; }

.transition-overlay {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .transition-overlay {
      overflow-y: scroll; } }

.transition-content-wrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  padding: 0px 25px; }
  .transition-content-wrapper h1 {
    margin: 20px 0px;
    font-family: "Archer Pro", serif;
    font-size: 4.0em; }
    @media (max-width: 767px) {
      .transition-content-wrapper h1 {
        font-size: 2em; } }
  .transition-content-wrapper h6 {
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .transition-content-wrapper p {
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.9;
    padding: 0px 25px; }
  .transition-content-wrapper .btn-wrapper {
    display: flex;
    margin-top: 60px; }
    @media (max-width: 767px) {
      .transition-content-wrapper .btn-wrapper {
        flex-direction: column;
        margin-top: 0px; } }
    @media screen and (max-width: 767px) and (orientation: portrait) {
      .transition-content-wrapper .btn-wrapper {
        padding-bottom: 160px; } }
    @media screen and (max-width: 767px) and (orientation: landscape) {
      .transition-content-wrapper .btn-wrapper {
        flex-direction: row;
        padding-bottom: 160px; } }
    .transition-content-wrapper .btn-wrapper .btn {
      margin: 20px;
      font-weight: 400; }
  @media (max-width: 767px) {
    .transition-content-wrapper {
      width: 90%;
      height: 100%; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .transition-content-wrapper {
      height: auto;
      padding-top: calc(5% + 64px); } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .transition-content-wrapper {
      height: auto;
      padding-top: calc(5% + 64px); } }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .transition-content-wrapper {
      height: calc(100vh - 114px); } }

.timeline-wrapper {
  position: absolute;
  height: 103%;
  width: 4800px;
  overflow: auto;
  background: url("../assets/timeline-full@2x.jpg");
  background-size: cover; }

.timeline-track {
  border-bottom: 1px solid #deded1;
  bottom: 137px;
  position: absolute; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-track {
      bottom: 119px; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .timeline-track {
      bottom: 197px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .timeline-track {
      bottom: 187px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .timeline-track {
      bottom: 187px; } }

.timeline-track[data-era="1"] {
  width: 95%;
  left: 60px; }

.timeline-track[data-era="2"],
.timeline-track[data-era="3"] {
  width: 100%; }

.timeline-item-wrapper {
  position: absolute; }

.era-container {
  display: flex;
  height: 100vh;
  position: absolute;
  top: 0px; }

.era-container[data-era="1"] {
  left: 0px;
  width: 2140px; }

.era-container[data-era="2"] {
  left: 1780px;
  width: 1720px; }

.era-container[data-era="3"] {
  left: 3340px;
  width: 1460px; }

.timeline-item {
  background-color: #678da0;
  border: none;
  border-radius: 0px;
  display: flex;
  text-align: initial;
  width: 325px;
  height: 115px;
  z-index: 3;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item {
      width: auto; } }

.timeline-item-wrapper[data-era="1"][data-timeline="1"] {
  left: 60px;
  bottom: 232px;
  z-index: 5; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="1"][data-timeline="1"] {
      bottom: 136px; } }

.timeline-item-wrapper[data-era="1"][data-timeline="2"] {
  left: 750px;
  bottom: 232px;
  z-index: 4; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="1"][data-timeline="2"] {
      bottom: 136px; } }

.timeline-item-wrapper[data-era="1"][data-timeline="3"] {
  left: 1000px;
  bottom: 396px;
  z-index: 3; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="1"][data-timeline="3"] {
      bottom: 190px; } }

.timeline-item-wrapper[data-era="1"][data-timeline="4"] {
  left: 1430px;
  bottom: 232px;
  z-index: 2; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="1"][data-timeline="4"] {
      bottom: 136px; } }

.timeline-item-wrapper[data-era="1"][data-timeline="5"] {
  left: 1715px;
  bottom: 396px;
  z-index: 1; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="1"][data-timeline="5"] {
      bottom: 190px; } }

.timeline-item-wrapper[data-era="2"][data-timeline="1"] {
  left: 65px;
  bottom: 232px;
  z-index: 1; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="2"][data-timeline="1"] {
      bottom: 136px; } }

.timeline-item-wrapper[data-era="2"][data-timeline="2"] {
  left: 340px;
  bottom: 396px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="2"][data-timeline="2"] {
      bottom: 190px; } }

.timeline-item-wrapper[data-era="2"][data-timeline="3"] {
  left: 825px;
  bottom: 232px;
  z-index: 1; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="2"][data-timeline="3"] {
      bottom: 136px; } }

.timeline-item-wrapper[data-era="2"][data-timeline="4"] {
  left: 1320px;
  bottom: 232px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="2"][data-timeline="4"] {
      bottom: 136px; } }

.timeline-item-wrapper[data-era="3"][data-timeline="1"] {
  left: 90px;
  bottom: 232px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="3"][data-timeline="1"] {
      bottom: 136px; } }

.timeline-item-wrapper[data-era="3"][data-timeline="2"] {
  left: 505px;
  bottom: 232px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="3"][data-timeline="2"] {
      bottom: 136px; } }

.timeline-item-wrapper[data-era="3"][data-timeline="3"] {
  left: 685px;
  bottom: 396px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="3"][data-timeline="3"] {
      bottom: 190px; } }

.timeline-item-wrapper[data-era="3"][data-timeline="4"] {
  left: 945px;
  bottom: 232px; }
  .timeline-item-wrapper[data-era="3"][data-timeline="4"] .timeline-item .timeline-btn-text-wrapper {
    padding: 15px 52px 15px 12px; }
  .timeline-item-wrapper[data-era="3"][data-timeline="4"] .timeline-item .timeline-btn-img {
    left: auto;
    right: -33px; }
  .timeline-item-wrapper[data-era="3"][data-timeline="4"] .timeline-item .sm-label-wrapper {
    border-left: none;
    border-right: 2px dotted #dedede;
    width: 100%;
    text-align: right; }
    .timeline-item-wrapper[data-era="3"][data-timeline="4"] .timeline-item .sm-label-wrapper h4 {
      left: auto;
      display: block;
      right: -16px;
      width: 100%; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-item-wrapper[data-era="3"][data-timeline="4"] {
      bottom: 136px; } }

.timeline-btn-img {
  height: 82px;
  border: 3px solid white;
  border-radius: 50%;
  margin: 0px;
  width: 82px;
  position: absolute;
  top: 0px;
  left: -38px;
  z-index: 2; }

.timeline-btn-text-wrapper {
  font-weight: 300;
  color: white;
  overflow: hidden;
  padding: 10px 10px 10px 52px;
  height: 115px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .timeline-btn-text-wrapper p {
    font-size: 13px;
    margin-bottom: 0px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .timeline-btn-text-wrapper {
      display: none; } }

#prev-btn, #next-btn {
  left: 12px;
  position: absolute;
  top: 40%;
  border: none;
  z-index: 3;
  transition: 0.5 opacity ease-in-out; }
  #prev-btn:hover, #next-btn:hover, #prev-btn:active, #next-btn:active, #prev-btn:focus, #next-btn:focus {
    background: transparent !important;
    opacity: 0.7; }
  @media (max-width: 767px) {
    #prev-btn img, #next-btn img {
      display: none; } }
  @media (max-width: 767px) {
    #prev-btn, #next-btn {
      left: 0px;
      top: 35%; }
      #prev-btn:before, #next-btn:before {
        content: "";
        background: url("/nk360/shared/lib/im/images/icon-prev.svg");
        width: 50px;
        height: 50px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block; } }

#next-btn {
  right: 12px;
  left: auto; }
  @media (max-width: 767px) {
    #next-btn {
      right: 0px; }
      #next-btn:before {
        content: "";
        background: url("/nk360/shared/lib/im/images/icon-next.svg");
        width: 50px;
        height: 50px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block; } }

.disabled {
  opacity: 0.25 !important; }

.lg-label-wrapper {
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding-left: 0px; }
  .lg-label-wrapper li {
    display: inline; }
    .lg-label-wrapper li h2 {
      color: #deded1;
      display: inline;
      font-family: "Ludicrous", serif;
      position: absolute;
      bottom: 14px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .lg-label-wrapper {
      bottom: 20px; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .lg-label-wrapper {
      bottom: 100px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .lg-label-wrapper {
      bottom: 100px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .lg-label-wrapper {
      bottom: 100px; } }

.sm-label {
  font-family: "Archer Pro", serif;
  position: relative;
  top: 32px;
  left: -8px;
  color: #deded1; }

.sm-label-wrapper {
  position: absolute;
  height: 182px;
  border-left: 4px dotted #deded1;
  display: flex;
  align-items: flex-end;
  padding-left: 2px;
  top: 42px;
  left: 0px; }
  .sm-label-wrapper h4 {
    display: inline;
    position: relative;
    font-family: "Archer Pro", serif;
    font-size: 1.5rem; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .sm-label-wrapper {
      height: 100px;
      width: 200px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .sm-label-wrapper {
      height: 132px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .sm-label-wrapper {
      height: 122px; } }

.sm-label-wrapper[data-era="1"][data-timeline="3"] {
  height: 346px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .sm-label-wrapper[data-era="1"][data-timeline="3"] {
      height: 154px; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .sm-label-wrapper[data-era="1"][data-timeline="3"] {
      height: 286px; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .sm-label-wrapper[data-era="1"][data-timeline="3"] {
      height: 286px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .sm-label-wrapper[data-era="1"][data-timeline="3"] {
      height: 286px; } }

.sm-label-wrapper[data-era="1"][data-timeline="5"] {
  height: 346px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .sm-label-wrapper[data-era="1"][data-timeline="5"] {
      height: 154px; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .sm-label-wrapper[data-era="1"][data-timeline="5"] {
      height: 286px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .sm-label-wrapper[data-era="1"][data-timeline="5"] {
      height: 296px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .sm-label-wrapper[data-era="1"][data-timeline="5"] {
      height: 286px; } }

.sm-label-wrapper[data-era="2"][data-timeline="2"] {
  height: 346px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .sm-label-wrapper[data-era="2"][data-timeline="2"] {
      height: 154px; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .sm-label-wrapper[data-era="2"][data-timeline="2"] {
      height: 286px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .sm-label-wrapper[data-era="2"][data-timeline="2"] {
      height: 296px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .sm-label-wrapper[data-era="2"][data-timeline="2"] {
      height: 286px; } }

.sm-label-wrapper[data-era="3"][data-timeline="3"] {
  height: 346px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .sm-label-wrapper[data-era="3"][data-timeline="3"] {
      height: 154px; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .sm-label-wrapper[data-era="3"][data-timeline="3"] {
      height: 286px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .sm-label-wrapper[data-era="3"][data-timeline="3"] {
      height: 296px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .sm-label-wrapper[data-era="3"][data-timeline="3"] {
      height: 286px; } }

.lg-label-1 {
  left: 60px; }

.lg-label-2 {
  left: 475px; }

.lg-label-3 {
  left: 940px; }

.lg-label-4 {
  left: 1845px; }

.lg-label-5 {
  left: 3100px; }

.lg-label-6 {
  left: 4275px; }

.lg-label-7 {
  left: 4625px; }

.lg-label-4[data-era="2"] {
  left: 3000px; }

.lg-label-5[data-era="2"] {
  left: 3400px; }

.lg-label-1[data-era="3"] {
  left: 3000px; }

.lg-label-2[data-era="3"] {
  left: 3400px; }

.lg-label-3[data-era="3"] {
  left: 3700px; }

.lg-label-4[data-era="3"] {
  left: 4000px; }

.lg-label-5[data-era="3"] {
  left: 4400px; }

/**
 * This file includes all of the styles for modal, which is based on the default Bootstrap modal.
**/
.modal-backdrop {
  opacity: 0.7 !important; }

.modal-dialog {
  max-width: 450px;
  background-color: white;
  border-radius: 10px; }
  @media (max-width: 767px) {
    .modal-dialog {
      width: 80%;
      left: 10%;
      top: calc(5% + 66px);
      margin: 0px;
      height: auto; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .modal-dialog {
      top: 25px; } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .modal-dialog {
      top: 50px;
      width: 75vw;
      height: calc(90vh - 114px);
      left: 12.5vw; } }

.modal-header {
  flex-direction: column;
  border-bottom: none;
  padding: 40px 20px 20px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .modal-header {
      height: auto;
      margin-bottom: 40px;
      padding-top: 10px; } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .modal-header h3 {
      font-size: 1.3rem; } }

.modal-content {
  background: url("../assets/text-card-pnw@2x.png");
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 650px; }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .modal-content {
      max-height: calc(90vh - 115px); } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .modal-content {
      max-height: calc(90vh - 115px); } }
  @media (max-width: 767px) {
    .modal-content {
      min-height: initial; } }

.modal-body {
  padding: 0px 30px 40px; }
  .modal-body p {
    font-size: 14px;
    margin-top: 20px; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .modal-body {
      height: auto; } }
  @media (max-width: 767px) {
    .modal-body {
      max-height: 60vh;
      overflow: scroll;
      margin-bottom: 5vh; } }

.modal-title {
  text-align: center; }

.modal-year {
  font-size: 0.75em;
  letter-spacing: 1px; }

.modal-photo-wrapper {
  position: relative; }
  .modal-photo-wrapper img {
    max-width: 100%; }
  .modal-photo-wrapper figcaption {
    font-size: 13px;
    font-style: italic;
    color: #2e3742;
    margin-top: 10px; }

.modal-img-wrapper {
  max-height: 250px;
  overflow: hidden;
  background: #9eb2c1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.close[data-dismiss="modal"] {
  position: absolute;
  left: 105%;
  top: 0%; }
  @media (max-width: 767px) {
    .close[data-dismiss="modal"] {
      top: -20px;
      right: -20px;
      left: initial;
      background: black;
      border-radius: 50%; } }

.zoom {
  position: absolute;
  right: 0px;
  top: 218px;
  background: transparent;
  border: none; }

.attribution {
  display: block;
  font-style: italic;
  text-align: right;
  margin-top: 10px; }

/**
 * This file includes all of the styles for the slider that is used on the selection screen.  It is active only on viewports equal to or smaller than 991px. It is based on the Slick Slider. The scrollable timeline does not use a slider. Styles for that component are in timeline.scss. 
**/
.slick-prev,
.slick-next {
  width: 100px;
  height: 100px;
  z-index: 1; }
  @media (max-width: 767px) {
    .slick-prev,
    .slick-next {
      width: 50px;
      height: 50px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .slick-prev,
    .slick-next {
      width: 75px;
      height: 75px; } }

.slick-prev {
  left: 25px; }
  .slick-prev:before {
    content: "";
    background: url("/nk360/shared/lib/im/images/icon-prev.svg");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block; }
  @media (max-width: 767px) {
    .slick-prev {
      left: -5px; }
      .slick-prev:before {
        width: 50px;
        height: 50px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .slick-prev:before {
      width: 75px;
      height: 75px; } }

.slick-next {
  right: 25px; }
  .slick-next:before {
    content: "";
    background: url("/nk360/shared/lib/im/images/icon-next.svg");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block; }
  @media (max-width: 767px) {
    .slick-next {
      right: -5px; }
      .slick-next:before {
        width: 50px;
        height: 50px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .slick-next:before {
      width: 75px;
      height: 75px; } }

.slick-dots li button:before {
  content: '';
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px; }
@media (max-width: 991px) {
  .slick-dots li button:before {
    width: 15px;
    height: 15px; } }

.slick-dots {
  bottom: 75px; }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .slick-dots {
      bottom: 115px; } }

/*# sourceMappingURL=main.css.map */
