/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hidden {
  display: none !important; }

* {
  font-family: "Open Sans", sans-serif; }

h4 {
  font-size: 1rem; }

.all-caps {
  text-transform: uppercase; }

.letter-spacing-1 {
  letter-spacing: 1px; }

html,
body {
  background: #231f20;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

.rel {
  position: relative; }

.abs {
  position: absolute; }
  .abs.right {
    right: 0; }
  .abs.left {
    left: 0; }
  .abs.top {
    top: 0; }
  .abs.bottom {
    bottom: 0; }

footer {
  color: white;
  height: 50px;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  padding: 11px; }
  footer.transparent {
    background: transparent; }
  footer img {
    height: 34px;
    position: relative;
    top: -4px; }
    @media screen and (max-width: 767px) {
      footer img {
        display: none; } }
  footer ul {
    margin-top: 6px; }
    footer ul li:not(:last-child):after {
      content: '|';
      margin: 0 0 0 10px;
      opacity: 0.5; }
    footer ul li a {
      color: white; }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
        color: white; }

#instructions {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  z-index: 1000; }
  #instructions .instructions-container {
    z-index: 101;
    position: relative;
    text-align: center;
    padding: 100px 20px; }
    @media screen and (max-width: 767px) {
      #instructions .instructions-container {
        padding: 30px; } }

[data-toggle="tooltip"] {
  border-bottom: 1px dotted #231f20;
  transition: all 0.5s; }
  [data-toggle="tooltip"]:hover, [data-toggle="tooltip"]:focus, [data-toggle="tooltip"]:active {
    border-bottom: 1px dotted #f1f2f2; }
  [data-toggle="tooltip"].invert {
    border-bottom: 1px dotted white; }
    [data-toggle="tooltip"].invert:hover, [data-toggle="tooltip"].invert:focus, [data-toggle="tooltip"].invert:active {
      border-bottom: 1px dotted #939598; }

[data-pronounce] {
  background-color: #f1f2f2;
  transition: all 0.5s; }
  [data-pronounce]:hover, [data-pronounce]:focus, [data-pronounce]:active {
    background-color: #939598; }
  [data-pronounce].invert {
    background-color: #231f20; }
    [data-pronounce].invert:hover, [data-pronounce].invert:focus, [data-pronounce].invert:active {
      background-color: #939598; }

.btn {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  border-width: 2px;
  padding: .75rem 1.25rem .85rem;
  cursor: pointer; }
  .btn.btn-lg {
    padding: 1rem 1.75rem 1.1rem; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: white;
    border-color: white;
    color: #231f20 !important; }

.activity-menu-wrapper > div {
  z-index: 100; }
.activity-menu-wrapper .icon {
  width: 44px;
  height: 44px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block; }
  .activity-menu-wrapper .icon.icon-info {
    background-color: blue; }
  .activity-menu-wrapper .icon.icon-home {
    background-color: red; }
  .activity-menu-wrapper .icon.icon-print {
    background-color: yellow; }

[data-gallery] {
  width: 32px;
  height: 32px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block;
  background-color: red;
  position: absolute;
  bottom: 10px;
  right: 10px; }

.game {
  height: 100vh;
  width: 17840px;
  position: relative;
  overflow: hidden; }
  .game .game-world {
    height: 100vh;
    min-width: 100vh;
    width: 17840px !important;
    overflow: hidden;
    position: relative; }
    .game .game-world .game-world__background, .game .game-world .game-world__midground, .game .game-world .game-world__foreground {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url(../assets/bkgr.png) no-repeat;
      z-index: 1;
      background-size: cover; }
    .game .game-world .game-world__foreground {
      background: url(../assets/foregr.png) no-repeat;
      z-index: 3;
      background-size: cover; }
    .game .game-world .game-world__midground {
      background: url(../assets/midgr.png) no-repeat;
      z-index: 2;
      background-size: cover; }

.salmon {
  background: #fff;
  width: 5em;
  height: 2em;
  margin-top: 50vh;
  position: fixed;
  top: -1em;
  margin-left: 1em;
  z-index: 10; }

.hotspot {
  width: 87px;
  height: 87px;
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9;
  background: url(../assets/randomHS.png) no-repeat; }

#select-fish {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  z-index: 90; }
  #select-fish .select-fish-container {
    z-index: 91;
    position: relative;
    text-align: center;
    padding: 100px 20px; }
    @media screen and (max-width: 767px) {
      #select-fish .select-fish-container {
        padding: 30px; } }

.faded {
  opacity: .5; }

.not-faded {
  opacity: 1; }

.cursor-pointer {
  cursor: pointer; }

.intro-slider-wrapper .overlay {
  z-index: 20; }

.card {
  background: #FFFFFF;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 20px 48px;
  min-height: 600px; }
  .card .close-icon {
    position: absolute;
    right: -100px;
    cursor: pointer; }

.card:before {
  background: #CABDB6;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg); }

.card-wrapper {
  z-index: 30;
  position: relative;
  /*width: 350px;
  height: 250px;
  position: relative;
  z-index: 30;
  position: relative;*/ }
  .card-wrapper > .card {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.3s ease, left 0.3s ease;
    width: 550px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 100px; }
    .card-wrapper > .card:hover {
      -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4); }
  .card-wrapper .card-before {
    opacity: .3;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  .card-wrapper .card-after {
    left: 0px;
    background: white;
    top: 0px;
    opacity: .3;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg); }

.card {
  background: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  position: absolute;
  width: 93%;
  height: 580px; }

.quiz-options {
  width: 100%; }
  .quiz-options button {
    color: white;
    background: grey;
    font-size: 21px;
    padding: 15px;
    margin: 5px 0 20px; }
    .quiz-options button:focus {
      outline: 0; }
    .quiz-options button:active {
      outline: 0; }
    .quiz-options button.correct {
      background: green; }
    .quiz-options button.wrong {
      background: red; }
  .quiz-options hr {
    border-width: 5px; }

.quiz-answered button {
  color: white;
  background: grey;
  font-size: 21px;
  padding: 15px;
  margin: 5px 0 20px; }
  .quiz-answered button:hover {
    background: grey !important;
    color: white !important; }
.quiz-answered .correct:hover {
  background: green !important; }
.quiz-answered .wrong:hover {
  background: red !important; }

.slick-slide {
  margin: 0px 20px;
  width: 500px; }
  .slick-slide img {
    width: 100%; }

.slick-prev {
  left: -105px; }

.slick-next {
  right: -75px; }

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 50px; }

.slick-dots {
  z-index: 50;
  bottom: -310px; }
  @media (max-width: 991px) {
    .slick-dots li {
      display: inline-block; } }
  @media (max-width: 767px) {
    .slick-dots li {
      display: inline-block; } }
  @media (max-width: 480px) {
    .slick-dots li {
      margin: 0 3px; } }
  .slick-dots li button:before {
    font-size: 17px;
    color: #ffffff;
    opacity: 0.5; }
  .slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1.0; }
