.slick-prev,
.slick-next {
	width: 100px;
	height: 100px;
	z-index: 1;
	@include screen-xs {
		width: 50px;
		height: 50px;
	}
}

.slick-prev {
	left: 25px;
	&:before {
		content: "";
		background: url('../../shared/lib/im/images/icon-prev.svg');
		width: 100px;
		height: 100px;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		display: inline-block;
	}
	@include screen-xs {
		left: -5px;
		&:before {
			width: 50px;
			height: 50px;
		}
	}
}

.slick-next {
	right: 25px;
	&:before {
		content: "";
		background: url('../../shared/lib/im/images/icon-next.svg');
		width: 100px;
		height: 100px;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		display: inline-block;
		
	}
	@include screen-xs {
		right: -5px;
		&:before {
			width: 50px;
			height: 50px;
		}
	}
}

.slick-dots li button {
	&:before {
		content: '';
    	background-color: white;
    	border-radius: 50%;
    	width: 30px;
    	height: 30px;
	}
	@include screen-xs {
		&:before {
			width: 15px;
			height: 15px;
		}
	}

}

.slick-dots {
	bottom: 75px;
}