.slider-wrapper {
	.slick-dots {
		bottom:-95px;
	}

	.slick-slide {
		margin:0 0;
	}

	.overlay {
		z-index:20;

		@media (max-width: 767px) { 
			z-index:195;
		}
	}

	.card-body {
		height:475px;
		overflow-y:none;
	}

}

.intro-slider-wrapper {
	.overlay {
		z-index:20;

		@media (max-width: 767px) { 
			z-index:195;
		}
	}

	.slick-dots {
		bottom:-125px;
	}
}

.spawn-death-slider-wrapper {
	.overlay {
		z-index:20;

		@media (max-width: 767px) { 
			z-index:195;
		}
	}

	.slick-slide {
		margin:0 0;
	}

	.slick-dots {
		bottom:-80px;
	}

	.card-body {
		height:365px;
	}
}

.card {
  background: #FFFFFF;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 20px 48px;
  min-height: 600px;

  @media (max-width: 767px) { 
	min-height: 575px;
}

  .close-icon {
  	position: absolute;
    right: -100px;
    cursor:pointer;

    @media (max-width: 767px) {
	    position: absolute;
	    right: -14px;
	    cursor: pointer;
	    top: -14px;
	    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
	    z-index: 10000000000;
	}

	img {
		@media (max-width: 767px) {
			width:42px;
			height:42px;
		}
	}
  }

  p {

  	&.quiz-detail {
  		font-size:12px;
  	}
  }
}


.card-body {
	height:445px;
	overflow-y:auto;

	&::-webkit-scrollbar-track
	{
	  background-color: #e0e1e2;
	}

	&::-webkit-scrollbar
	{
	  width: 8px;
	  background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb
	{
	  background-color: #636365;
	  height:10px;
	}
}

.card:before {
	background: #CABDB6;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}



.card-wrapper {
  z-index: 200;
  position: relative;

  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;

  @media (max-width: 767px) { 
  	z-index:200;
  }

  .overlay {
  	z-index:196;
  }

  

  & > {
  	.card {
		position: absolute;
		top: 0;
		left: 0;
		transition: top 0.3s ease, left 0.3s ease;
		width: 392px;
		margin: auto;
		position: absolute;
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0;

		@media (max-width: 767px) { 
			width:360px;
		}

		&:hover {
		    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
			box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
		}
  	}
  }

  .card-before {
	  opacity: .3;
	  -webkit-transform: rotate(-2deg);
	  -moz-transform: rotate(-2deg);
	  -o-transform: rotate(-2deg);
	  -ms-transform: rotate(-2deg);
	  transform: rotate(-2deg);
  }

  .card-after {
	    left: 0px;
	    background: white;
	    top: 0px;
	    opacity: .3;
	    -webkit-transform: rotate(2deg);
	    -moz-transform: rotate(2deg);
	    -o-transform: rotate(2deg);
	    -ms-transform: rotate(2deg);
	    transform: rotate(2deg);
	}
}

.card {
    background: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 24px;
    position: absolute;
    width: 93%;
    height: 580px;
  }

.quiz-options {
	width: 100%;

	button {
		color: white;
		border-color: #2e3742;
		font-size: 18px; 
		padding: 15px; 
		margin: 5px 0 20px;

		&:focus {
			background: #2e3742;
		}

		&:active {
			background: #2e3742;
		}

		&.correct {
			background:green;
			color:white !important;
			border-color:green !important;

			&:hover {
				outline: none !important;
				background: green !important;
				color:white !important;
				border-color:green !important;
			}

			&:active {
				background: green !important;
				color:white !important;
				border-color:green !important;
			}

			&:focus {
				background: green !important;
				color:white !important;
				border-color:green !important;
			}
		}

		&.wrong {
			background:red;
			color:white !important;
			border-color:red !important;

			&:hover {
				background: red !important;
				color:white !important;
				border-color:red !important;
			}

			&:active {
				background: red !important;
				color:white !important;
				border-color:red !important;
			}

			&:focus {
				background: red !important;
				color:white !important;
				border-color:red !important;
			}
		}
	}

	hr {
		border-width:5px;
	}
}

/*.quiz-answered {
	button {
		color: white;
		background: #2e3742;
		font-size: 21px; 
		padding: 15px; 
		margin: 5px 0 20px;
		width:100%;


		&:hover {
			background: #2e3742 !important;
			color: white !important;
		}

	}

	.correct {
		&:hover {
			background: green !important;
			color:white !important;
		}

		&:active {
			background: green !important;
			color:white !important;
			border-color:green !important;
		}

		&:focus {
			background: green !important;
			color:white !important;
			border-color:green !important;
		}
	}

	.wrong {
		&:hover {
			background: red !important;
			color:white !important;
		}

		&:active {
			background: red !important;
			color:white !important;
			border-color:red !important;
		}

		&:focus {
			background: red !important;
			color:white !important;
			border-color:red !important;
		}
	}
}*/


.slider-card {
	background: url(../../shared/lib/im/images/pnw/text-card-pnw@2x.png) white !important;
    background-size: 400px 600px !important;
    background-repeat:no-repeat;

    @media (max-width: 767px) { 
        background-size: 360px 570px !important;
    }
}

.card-bg {
	background: url(../../shared/lib/im/images/pnw/text-card-pnw@2x.png) white !important;
    background-size: 400px 600px !important;
    background-repeat:no-repeat;

    @media (max-width: 767px) { 
        background-size: 360px 570px !important;
    }
}