/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/
@font-face {
  font-family: "Geared Slab";
  font-weight: normal;
  font-style: normal;
  src: url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab.eot?") format("eot"), url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab.woff") format("woff"), url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab.ttf") format("truetype"); }
@font-face {
  font-family: "Geared Slab";
  font-weight: bold;
  font-style: normal;
  src: url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab-Bold.eot?") format("eot"), url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab-Bold.woff") format("woff"), url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab-Bold.ttf") format("truetype"); }
h1 {
  font-size: 3.6rem;
  font-family: "Geared Slab", serif;
  letter-spacing: 0.5px; }

h2 {
  font-family: "Geared Slab", serif;
  letter-spacing: 0.5px;
  color: #677c4a; }

h3 {
  font-family: "Geared Slab", serif;
  letter-spacing: 0.5px; }

h4 {
  font-size: 1rem; }

.header {
  max-width: 540px;
  margin: 10px auto 0;
  padding: 10px 0 20px;
  background-image: url("/nk360/shared/lib/im/images/np/decoration-np.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  max-height: 125px;
  margin-bottom: 25px; }
  @media screen and (max-width: 991px) and (orientation: portrait) {
    .header {
      margin: 60px auto 0; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .header {
      margin: 20px auto 0;
      max-width: 300px;
      background-size: 75%; }
      .header h1 {
        font-size: 1.8rem; }
      .header h2 {
        font-size: 0.8rem; } }
  .header h1 {
    font-size: 2.1rem;
    font-weight: normal;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); }
  .header h2 {
    font-size: 0.9rem;
    font-family: "Geared Slab", serif;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    color: #311D18; }

.btn {
  border-color: #311D18;
  color: #311D18; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: #311D18;
    border-color: #311D18;
    color: white !important; }
  .btn.btn-white {
    border-color: white;
    color: white; }
    .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
      color: #311D18 !important;
      background-color: white;
      border-color: white; }
  .btn.active {
    border-color: #311D18;
    background-color: #311D18;
    color: white !important;
    opacity: 1; }
    .btn.active:hover, .btn.active:focus, .btn.active:active {
      color: white !important;
      background-color: #311D18;
      border-color: #311D18;
      opacity: 0.65; }

/**
 * This file includes Northern Plains theme styles for the card.
 * 
**/
.card {
  background: url("../assets/card-np@2x.png");
  background-size: cover;
  background-color: #ffffff;
  background-repeat: no-repeat; }

/**
 * This file includes Northern Plains theme styles for the modal.
 * 
**/
.modal-content {
  background: url("/nk360/shared/lib/im/images/np/text-card-np-watermark@2x.png");
  background-color: white;
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat; }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .modal-content {
      background-size: 100%; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .modal-content {
      background-size: 100%; } }

.modal-title {
  font-size: 30px; }

.modal-footer-message {
  bottom: 50px; }

.modal-img-wrapper {
  background-color: #9eb2c1; }

/**
 * This file includes Northern Plains theme styles for the intro and learning points modals.
 * 
**/
.intro-card,
.learning-points-card {
  background: url("/nk360/shared/lib/im/images/np/text-card-np-watermark@2x.png");
  background-size: 95%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center; }
  .intro-card .header-wrapper h1,
  .learning-points-card .header-wrapper h1 {
    font-family: "Geared Slab", serif;
    font-size: 30px;
    margin-top: 20px; }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .intro-card,
    .learning-points-card {
      margin-top: 30px;
      background-size: 100%; } }
  @media screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) {
    .intro-card,
    .learning-points-card {
      min-height: 50%;
      height: auto; } }

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
  .learning-points-card .header-wrapper {
    margin-top: 40px; } }
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
  .learning-points-card .header-wrapper h1 {
    margin-top: 0px; } }
@media screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) {
  .learning-points-card .header-wrapper h1 {
    margin-top: 55px; } }
@media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
  .learning-points-card {
    top: 2.5%; } }

.intro-card {
  background-size: 90% 100%; }
  @media screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) {
    .intro-card .text-wrapper {
      margin-bottom: 20px; } }

.subheader li {
  color: black; }

/**
 * This file includes Northern Plains theme styles for the 'puzzle complete' overlay.
 * 
**/
#complete-overlay .text-wrapper h1 {
  font-family: "Open Sans", serif; }

/**
 * This file includes Northern Plains theme styles for the puzzle.
 * 
**/
#puzzle {
  background: url("/nk360/shared/lib/im/images/np/bkgr-np@2x.png");
  background-size: cover; }

/*# sourceMappingURL=theme-np.css.map */
