.modal-content {
	background: url('../../shared/images/pnw/text-card-pw@2x.png');
	background-color: white;
	background-size: 90%;
	background-position: center center;
	background-repeat: no-repeat;
}