/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic");
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hidden {
  display: none !important; }

* {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 3.6rem; }

h4 {
  font-size: 1rem; }

.header {
  max-width: 540px;
  margin: 0 auto; }
  .header h1 {
    font-size: 1.8rem;
    font-weight: bold; }
  .header h2 {
    font-size: 0.8rem; }

.all-caps {
  text-transform: uppercase;
  font-weight: 400; }

.letter-spacing-1 {
  letter-spacing: 1px; }

.underline {
  border-bottom: 3px solid #F7B029;
  padding-bottom: 5px;
  display: inline-block; }

html,
body {
  background: #2e3742;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

.rel {
  position: relative; }

.abs {
  position: absolute; }
  .abs.right {
    right: 0; }
  .abs.left {
    left: 0; }
  .abs.top {
    top: 0; }
  .abs.bottom {
    bottom: 0; }

@media screen and (max-width: 767px) {
  .module-menu-wrapper .black-logo {
    opacity: 0; } }

footer {
  color: white;
  height: 50px;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  padding: 11px; }
  @media screen and (max-width: 480px) {
    footer {
      font-size: 0.6rem;
      height: 48px; } }
  footer.transparent {
    background: transparent; }
  footer img {
    height: 34px;
    position: relative;
    top: -4px; }
    @media screen and (max-width: 767px) {
      footer img {
        display: none; } }
  footer ul {
    margin-top: 6px; }
    footer ul li {
      font-family: "Open Sans", sans-serif; }
      footer ul li:not(:last-child):after {
        content: '|';
        margin: 0 0 0 10px;
        opacity: 0.5; }
      footer ul li a {
        color: white;
        font-family: "Open Sans", sans-serif; }
        footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
          color: white; }

#instructions {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  z-index: 1000;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  #instructions .instructions-container {
    z-index: 101;
    position: relative;
    text-align: center;
    padding: 100px 20px; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      #instructions .instructions-container {
        padding: 60px 20px; } }
    @media screen and (max-width: 767px) {
      #instructions .instructions-container {
        padding: 30px 20px 100px; } }
    @media screen and (max-width: 767px) {
      #instructions .instructions-container h1 {
        font-size: 2.7rem; } }
    #instructions .instructions-container h2 {
      color: white !important; }
    #instructions .instructions-container img {
      max-width: 300px; }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        #instructions .instructions-container img {
          max-width: 250px; } }
    #instructions .instructions-container .row {
      margin-bottom: 20px; }

#credits-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  color: white;
  text-align: center;
  padding: 200px 100px; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    #credits-container {
      padding: 120px 60px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #credits-container {
      padding: 80px 40px; } }
  @media screen and (max-width: 767px) {
    #credits-container {
      padding: 80px 40px; } }
  #credits-container h1 {
    font-size: 2.1rem; }
  #credits-container a {
    color: white;
    text-decoration: underline; }
  #credits-container span {
    display: block;
    margin-top: 40px;
    font-style: italic; }

span[data-toggle="tooltip"] {
  border: 1px solid #206CAF;
  border-radius: 4px;
  padding: 1px 3px;
  transition: all 0.5s;
  color: black;
  cursor: pointer;
  display: inline-block; }
  span[data-toggle="tooltip"]:hover, span[data-toggle="tooltip"]:focus, span[data-toggle="tooltip"]:active {
    background-color: #206CAF;
    color: white; }
    span[data-toggle="tooltip"]:hover:after, span[data-toggle="tooltip"]:focus:after, span[data-toggle="tooltip"]:active:after {
      background-image: url("/nk360/shared/lib/im/images/icon-definition-white.svg"); }
  span[data-toggle="tooltip"]:after {
    content: '';
    display: inline-block;
    background-image: url("/nk360/shared/lib/im/images/icon-definition.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-top: -3px;
    vertical-align: middle;
    transition: all 0.5s; }
  @media print {
    span[data-toggle="tooltip"] {
      border: none;
      padding: none;
      border-radius: none; }
      span[data-toggle="tooltip"]:after {
        content: none;
        display: none; } }
  .lg span[data-toggle="tooltip"] {
    color: white; }
    .lg span[data-toggle="tooltip"]:after {
      background-image: url("/nk360/shared/lib/im/images/icon-definition-white.svg"); }

[data-pronounce] {
  border: 1px solid #D67169;
  border-radius: 4px;
  padding: 1px 3px;
  transition: all 0.5s;
  color: black;
  cursor: pointer;
  display: inline-block; }
  [data-pronounce]:hover, [data-pronounce]:focus, [data-pronounce]:active {
    background-color: #D67169;
    color: white; }
    [data-pronounce]:hover:after, [data-pronounce]:focus:after, [data-pronounce]:active:after {
      background-image: url("/nk360/shared/lib/im/images/icon-audio-white.svg"); }
  [data-pronounce]:after {
    content: '';
    display: inline-block;
    background-image: url("/nk360/shared/lib/im/images/icon-audio.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    vertical-align: middle;
    transition: all 0.5s; }
  @media print {
    [data-pronounce] {
      border: none;
      padding: none;
      border-radius: none; }
      [data-pronounce]:after {
        content: none;
        display: none; } }
  .lg [data-pronounce] {
    color: white; }
    .lg [data-pronounce]:after {
      background-image: url("/nk360/shared/lib/im/images/icon-audio-white.svg"); }

.btn {
  background-color: transparent;
  border-color: #4BADA6;
  border-radius: 0;
  border-width: 3px;
  padding: .75rem 1.25rem .85rem;
  font-weight: 500;
  cursor: pointer;
  color: #4BADA6; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: #4BADA6;
    border-color: #4BADA6;
    color: white !important; }
  .btn.btn-lg {
    padding: 1rem 1.75rem 1.1rem;
    border-width: 4px; }
  .btn.btn-white {
    border-color: white;
    color: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
    .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
      color: #4BADA6 !important;
      background-color: white;
      border-color: white;
      text-shadow: none; }
  .btn.active {
    border-color: #4BADA6;
    background-color: #4BADA6;
    color: white !important;
    opacity: 1; }
    .btn.active:hover, .btn.active:focus, .btn.active:active {
      color: white !important;
      background-color: #4BADA6;
      border-color: #4BADA6;
      opacity: 0.65; }

.activity-menu-wrapper > div {
  z-index: 100; }
.activity-menu-wrapper .icon {
  width: 36px;
  height: 36px;
  margin: 10px 5px;
  display: inline-block;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all;
  cursor: pointer; }
  .activity-menu-wrapper .icon:last-of-type {
    margin-right: 15px; }
  .activity-menu-wrapper .icon:hover, .activity-menu-wrapper .icon:focus, .activity-menu-wrapper .icon:active {
    opacity: 0.5; }
  .activity-menu-wrapper .icon.icon-info {
    background-image: url("/nk360/shared/lib/im/images/icon-info.svg"); }
  .activity-menu-wrapper .icon.icon-home {
    background-image: url("/nk360/shared/lib/im/images/icon-home.svg"); }
  .activity-menu-wrapper .icon.icon-print {
    background-image: url("/nk360/shared/lib/im/images/icon-print.svg"); }
  .activity-menu-wrapper .icon.disabled {
    opacity: 0.4;
    cursor: default; }

[data-gallery] {
  width: 32px;
  height: 32px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-image: url("/nk360/shared/lib/im/images/icon-zoom.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
  transition: 0.5s all; }
  [data-gallery]:focus, [data-gallery]:hover, [data-gallery]:active {
    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.75)); }

html {
  touch-action: manipulation; }

body {
  font-size: 1rem; }
  @media screen and (max-width: 1439px) {
    body {
      font-size: .9rem; } }
  @media screen and (max-width: 1199px) {
    body {
      font-size: .8rem; } }
  body p {
    font-size: 1rem; }
    @media screen and (max-width: 1439px) {
      body p {
        font-size: .9rem; } }
    @media screen and (max-width: 1199px) {
      body p {
        font-size: .8rem; } }
  body textarea {
    -webkit-user-select: all;
    /* Chrome all / Safari all */
    -moz-user-select: all;
    /* Firefox all */
    -ms-user-select: all;
    /* IE 10+ */
    user-select: all; }
  body .black-text {
    color: #353535; }
  body a.link-color {
    color: #4BADa6;
    text-decoration: underline;
    font-size: 75%;
    display: inine-block;
    padding-right: 25px; }
  body h3 {
    color: #006986; }
    body h3.yellow-underline {
      display: inline-block;
      border-bottom: 3px solid #f6b851;
      padding-bottom: 5px; }
  body .disabled {
    opacity: .5 !important; }
  body .pencil {
    background: url(/nk360/shared/lib/im/images/icon-pencil.svg) no-repeat;
    background-size: 16px;
    height: 16px;
    margin: 0;
    pointer-events: none;
    position: absolute;
    top: 16px;
    width: 16px;
    right: 10px; }
  body .text-overlay {
    position: absolute;
    top: 0;
    width: 100%; }
    body .text-overlay h3 {
      color: white;
      text-align: center;
      vertical-align: middle;
      line-height: 25vh;
      position: relative;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35); }
      @media screen and (max-width: 767px) and (orientation: portrait) {
        body .text-overlay h3 {
          line-height: 20vh; } }
      @media screen and (max-width: 767px) and (orientation: landscape) {
        body .text-overlay h3 {
          line-height: 40vh; } }
  body .info {
    margin-top: 20px; }
  @media screen and (max-width: 767px) {
    body {
      overflow: scroll; } }

.photo-container {
  text-align: center;
  background: #636365;
  height: auto;
  position: relative; }

.photo {
  overflow: hidden;
  padding: 0;
  height: 25vh;
  position: relative; }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .photo {
      height: 20vh; } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .photo {
      height: 100%; } }
  .photo .photo-overlay {
    background: #016A87;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: .65;
    background-blend-mode: multiply; }
  .photo img {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto; }

small,
.small {
  font-size: 55%;
  font-weight: 100; }

.annotation-screen {
  width: 90%;
  margin: 20px auto 0;
  height: 75vh; }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .annotation-screen {
      height: 68vh;
      width: 86%; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    .annotation-screen {
      width: 86%;
      margin-top: 0; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .annotation-screen {
      height: 68vh;
      width: 86%;
      margin-top: 0; } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .annotation-screen {
      margin-top: 0px;
      width: 100%; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .annotation-screen {
      height: auto;
      width: 100%;
      margin-top: 0px; } }
  .annotation-screen .annotation-item {
    height: 75vh;
    background: #FFF;
    width: 90%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0 2px 15px 0; }
    @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
      .annotation-screen .annotation-item {
        height: 68vh; } }
    @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
      .annotation-screen .annotation-item {
        height: 68vh;
        width: 100%; } }
    @media screen and (max-width: 767px) and (orientation: landscape) {
      .annotation-screen .annotation-item {
        height: 42vh;
        width: 100%; } }
    @media screen and (max-width: 767px) and (orientation: portrait) {
      .annotation-screen .annotation-item {
        height: 56vh;
        width: 100%; } }
    .annotation-screen .annotation-item .top {
      height: 25vh; }
      @media screen and (max-width: 767px) and (orientation: portrait) {
        .annotation-screen .annotation-item .top {
          height: 20vh; } }
      @media screen and (max-width: 767px) and (orientation: landscape) {
        .annotation-screen .annotation-item .top {
          height: 100%;
          width: 33%;
          display: inline-block;
          vertical-align: top;
          position: relative; } }
    .annotation-screen .annotation-item .bottom {
      padding: 20px 8% 0;
      height: 50vh; }
      @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
        .annotation-screen .annotation-item .bottom {
          height: 43vh; } }
      @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
        .annotation-screen .annotation-item .bottom {
          height: 43vh; } }
      @media screen and (max-width: 767px) and (orientation: landscape) {
        .annotation-screen .annotation-item .bottom {
          padding: 15px;
          height: 100%;
          width: 66%;
          display: inline-block;
          vertical-align: top;
          overflow: hidden; } }
      @media screen and (max-width: 767px) and (orientation: portrait) {
        .annotation-screen .annotation-item .bottom {
          height: 37vh; } }
      .annotation-screen .annotation-item .bottom .body {
        height: 36vh;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch; }
        @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
          .annotation-screen .annotation-item .bottom .body {
            height: 26vh; } }
        @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
          .annotation-screen .annotation-item .bottom .body {
            height: 30vh; } }
        @media screen and (max-width: 767px) and (orientation: landscape) {
          .annotation-screen .annotation-item .bottom .body {
            height: 15vh;
            margin-bottom: 10px;
            overflow-y: auto; } }
        @media screen and (max-width: 767px) and (orientation: portrait) {
          .annotation-screen .annotation-item .bottom .body {
            height: 18vh; } }
      .annotation-screen .annotation-item .bottom .button {
        position: absolute;
        bottom: 25px;
        margin: 0 auto;
        left: 8%;
        right: 8%; }
        @media screen and (max-width: 767px) and (orientation: landscape) {
          .annotation-screen .annotation-item .bottom .button {
            position: relative;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0; } }
    .annotation-screen .annotation-item .col-no-padding {
      padding: 0; }
  .annotation-screen .copyright {
    color: #333232;
    margin: 12px 0; }

.theme {
  font-weight: bold;
  color: black;
  letter-spacing: .5px;
  font-size: .8rem;
  margin-top: 15px; }
  @media screen and (max-width: 1199px) {
    .theme {
      font-size: .5rem; } }

.markers-remaining {
  color: black;
  letter-spacing: .5px;
  text-align: center;
  font-size: .8rem; }
  @media screen and (max-width: 1199px) {
    .markers-remaining {
      font-size: .6rem; } }

.pin-image {
  display: inline-block;
  vertical-align: top;
  padding-top: 7px; }

.pin-text {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 20px; }

.pin-text p {
  margin: 0; }

.dotted {
  font-weight: bold; }

.original-text {
  background: #fff;
  padding: 30px 40px 30px 30px;
  height: 77vh; }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .original-text {
      height: 70vh; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .original-text {
      height: 61vh; } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .original-text {
      height: auto; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .original-text {
      height: 69vh;
      padding: 25px; } }
  .original-text .content-height {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px 0;
    -webkit-overflow-scrolling: touch; }
    @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
      .original-text .content-height {
        max-height: 62vh; } }
    @media screen and (max-width: 767px) and (orientation: landscape) {
      .original-text .content-height {
        max-height: none;
        margin-bottom: 200px; } }
    @media screen and (max-width: 767px) and (orientation: portrait) {
      .original-text .content-height {
        max-height: 57vh;
        padding-bottom: 140px; } }

.markers-container {
  padding: 25px;
  background: rgba(12, 92, 154, 0.3); }

.original-text .photo {
  max-height: 350px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative; }

.print-button {
  margin-top: 35px; }
  .print-button .btn-lg {
    width: 100% !important; }
  @media screen and (max-width: 1199px) {
    .print-button {
      margin-top: 20px; } }

.original-text-detail {
  box-shadow: rgba(0, 0, 0, 0.35) 4px 2px 10px 0; }
  .original-text-detail h3 {
    color: black; }
    @media screen and (max-width: 1199px) {
      .original-text-detail h3 {
        font-size: 1.25rem; } }
  .original-text-detail .outer-top {
    padding: 25px;
    background: white; }
    @media screen and (max-width: 767px) and (orientation: portrait) {
      .original-text-detail .outer-top {
        height: 37vh; } }
  .original-text-detail .top {
    height: 22vh;
    overflow-y: auto;
    background: white;
    -webkit-overflow-scrolling: touch; }
    @media screen and (max-width: 767px) and (orientation: portrait) {
      .original-text-detail .top {
        height: 28vh; } }
    @media screen and (max-width: 767px) and (orientation: landscape) {
      .original-text-detail .top {
        height: auto;
        margin-bottom: 200px; } }

.dotted {
  font-weight: bold; }

.print-view {
  display: none; }

.mobile-markers {
  position: absolute;
  bottom: 50px;
  background: rgba(46, 55, 66, 0.85);
  padding: 20px 50px 0;
  width: 100%;
  z-index: 99;
  left: 0;
  transition: 0.5s all; }
  @media screen and (max-width: 767px) {
    .mobile-markers {
      bottom: 50px; } }
  @media screen and (max-width: 480px) {
    .mobile-markers {
      bottom: 48px; } }
  .mobile-markers.display-mobile-markers {
    transform: translateY(115px); }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .browser-android .mobile-markers.display-mobile-markers {
      transform: translateY(135px) !important; } }
  @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    .browser-android .mobile-markers.display-mobile-markers {
      transform: translateY(200px) !important; } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .browser-android .mobile-markers.display-mobile-markers {
      transform: translateY(125px) !important; } }
  @media screen and (max-width: 480px) and (orientation: landscape) {
    .browser-android .mobile-markers.display-mobile-markers {
      transform: translateY(200px) !important; } }
  .mobile-markers .toggle-mobile-markers {
    position: absolute;
    top: -29px;
    left: 30px;
    background: rgba(46, 55, 66, 0.85);
    padding: 5px 10px;
    color: white;
    text-decoration: none; }
  @media screen and (max-width: 767px) {
    .mobile-markers {
      padding: 15px 15px 0; }
      .mobile-markers ul {
        margin-bottom: 0; } }
  .mobile-markers ul {
    text-align: center; }
  .mobile-markers li {
    margin: 0 10px !important;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .mobile-markers li {
        margin: 0 5px !important; } }
    .mobile-markers li .markers-remaining {
      color: white; }
    .mobile-markers li .theme {
      color: white;
      font-size: 1rem; }
      @media screen and (max-width: 767px) and (orientation: portrait) {
        .mobile-markers li .theme {
          font-size: 0.8rem; } }
      @media screen and (max-width: 480px) {
        .mobile-markers li .theme {
          font-size: 0.7rem; } }

.mobile-menu {
  background: #9eb2c1;
  position: relative;
  width: 86%;
  margin: 0 auto;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .mobile-menu {
      width: 100%;
      margin-top: 65px; } }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    .mobile-menu {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .mobile-menu {
      margin-top: 60px; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .browser-android .mobile-menu {
      margin-top: 0; } }
  .mobile-menu .half-menu {
    width: 49.5%;
    display: inline-block;
    border-bottom: 4px solid transparent;
    padding: 12px 16px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.05); }
    @media screen and (max-width: 480px) {
      .mobile-menu .half-menu {
        width: 49%;
        font-size: 0.7rem; } }
    .mobile-menu .half-menu a {
      color: white;
      text-decoration: none; }
    .mobile-menu .half-menu.active {
      border-bottom: 4px solid white;
      background: transparent; }

.original-text {
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.3); }
  .original-text .photo {
    max-height: 350px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative; }
  .original-text a {
    text-decoration: underline; }

.photo .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.25);
  padding-top: 20px; }
  .photo .caption p {
    text-align: center; }

.instructions-container .btn-lg {
  border-color: white;
  margin-bottom: 40px; }
  .instructions-container .btn-lg:hover {
    color: #2e3742 !important;
    border-color: white;
    background: white; }

#lost-progress {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  z-index: 100; }
  #lost-progress h1, #lost-progress h4 {
    color: white; }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    #lost-progress h1 {
      font-size: 2.4rem; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    #lost-progress h1 {
      font-size: 3rem; } }
  #lost-progress h4 {
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) and (orientation: landscape) {
      #lost-progress h4 {
        font-size: 0.8rem;
        margin-bottom: 10px; } }
  #lost-progress .instructions-container {
    z-index: 101;
    position: relative;
    text-align: center;
    padding: 100px 20px; }
  #lost-progress .progress-options {
    margin: 100px auto 0;
    width: 325px; }
    @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
      #lost-progress .progress-options {
        margin: 50px auto 0; } }
    @media screen and (max-width: 767px) {
      #lost-progress .progress-options {
        margin-top: 20px; } }
    #lost-progress .progress-options .btn-lg {
      width: 325px;
      border-color: white;
      display: block;
      margin-bottom: 20px; }
      @media screen and (max-width: 767px) and (orientation: landscape) {
        #lost-progress .progress-options .btn-lg {
          display: inline-block;
          margin: 10px;
          font-size: 1.2rem; } }
      #lost-progress .progress-options .btn-lg:hover {
        color: #2e3742 !important;
        border-color: white;
        background: white; }

@media screen and (max-width: 767px) {
  #lost-progress .instructions-container {
    padding: 30px; } }
.marker {
  cursor: pointer; }
  .marker img {
    margin: 0 auto;
    width: 60px;
    display: inherit; }
    @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
      .marker img {
        width: 30px; } }
    @media screen and (max-width: 991px) {
      .marker img {
        width: 30px; } }

.markers-container .list-inline {
  margin: 30px 0 45px; }
  @media screen and (max-width: 991px) {
    .markers-container .list-inline {
      overflow-x: auto; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .markers-container .list-inline {
      margin: 15px 0; } }
  .markers-container .list-inline .list-inline-item {
    margin-right: 7px;
    text-align: center;
    display: inline-block;
    text-align: center;
    width: 30%; }
    @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
      .markers-container .list-inline .list-inline-item {
        margin-right: 3%;
        width: 29%; } }

.btn-lg {
  width: 325px; }

/** Pins **/
.pin-drop:not(.photo-container).ui-droppable-hover {
  background: yellow; }

.pin-drop {
  position: relative;
  display: inline-block; }

.marker-in-text {
  position: absolute;
  padding: 10px;
  background: #fff !important;
  /* Must match Js */
  border: none;
  /* Must match Js */
  border-radius: 0;
  width: 320px;
  /* Must match Js */
  height: 200px;
  z-index: 2;
  bottom: 40px;
  left: 0;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); }
  @media screen and (max-width: 767px) {
    .marker-in-text {
      height: auto;
      background: transparent !important;
      box-shadow: none; } }
  .photo-container .marker-in-text.left-flipped {
    margin-left: -30px !important; }
  .photo-container .marker-in-text.right-flipped {
    margin-left: -320px !important;
    width: 320px !important; }
  .marker-in-text .mobile-text-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: stretch; }
    @media screen and (max-width: 767px) {
      .marker-in-text .mobile-text-container {
        position: fixed;
        left: 30px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
        padding: 15px;
        height: 180px;
        z-index: 10000;
        top: 150px;
        right: 30px; } }
    @media screen and (max-width: 767px) and (orientation: landscape) {
      .marker-in-text .mobile-text-container {
        top: 75px; } }
    @media screen and (max-width: 480px) {
      .marker-in-text .mobile-text-container {
        top: 50px;
        z-index: 999999999; } }

.marker-in-text.visible {
  z-index: 3; }

.marker-in-text img {
  width: 50px;
  height: auto;
  position: absolute;
  opacity: .5;
  cursor: pointer;
  z-index: 4; }
  @media screen and (max-width: 767px) {
    .marker-in-text img {
      width: 30px;
      left: -10px !important; } }

@media screen and (max-width: 767px) {
  .marker-in-text.pin-hidden img {
    top: -10px !important; } }

.hidden-mobile {
  display: none; }

.marker-in-text textarea {
  border-radius: 0;
  border: thin solid #ccc;
  width: 100%;
  padding: 8px;
  height: 100%;
  float: left;
  margin-right: 10px; }

.marker-in-text .mobile-btn-group {
  float: right;
  width: 35px; }

.marker-in-text .delete-btn {
  width: 40px;
  height: 52px;
  display: block !important;
  background-image: url("../assets/icon-trash.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  opacity: 1;
  transition: all 0.0s; }
  .marker-in-text .delete-btn:hover, .marker-in-text .delete-btn:active {
    opacity: 0.5; }
  .marker-in-text .delete-btn:after {
    content: 'Delete';
    display: block;
    top: 38px;
    left: -2px;
    position: absolute;
    font-size: 0.8rem; }

.marker-in-text .close-btn {
  width: 40px;
  height: 52px;
  display: block !important;
  background-image: url("../assets/icon-close.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  opacity: 1;
  margin-top: 15px;
  transition: all 0.0s; }
  .marker-in-text .close-btn:hover, .marker-in-text .close-btn:active {
    opacity: 0.5; }
  .marker-in-text .close-btn:after {
    content: 'Close';
    display: block;
    top: 38px;
    left: -2px;
    position: absolute;
    font-size: 0.8rem; }

.marker-in-text.pin-hidden {
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important; }
  .marker-in-text.pin-hidden *:not(img) {
    display: none !important; }

.delete-pin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  padding-top: 25px;
  top: 0;
  left: 0; }

.delete-pin span {
  display: block;
  margin-top: 30px; }

.delete-pin .btn {
  border-color: white;
  margin: 10px 15px 0 15px;
  color: white;
  font-weight: bold; }
  .delete-pin .btn:hover {
    color: #2e3742 !important;
    border-color: white;
    background: white; }

.defintions-icon {
  position: relative;
  /* Adjust these values accordingly */
  top: -6px;
  left: 5px;
  padding-left: 20px;
  background: url("../assets/icon-definition.svg") no-repeat;
  background-position: left center;
  background-size: contain;
  padding: 10px;
  padding-top: 0; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .defintions-icon {
      display: none !important; } }
  @media screen and (max-width: 767px) {
    .defintions-icon {
      display: none !important; } }
  @media screen and (max-width: 480px) {
    .defintions-icon {
      display: none !important; } }
  @media screen and (max-width: 1199px) {
    .defintions-icon {
      padding: 7px;
      padding-top: 0; } }

.pin-visible img {
  opacity: 1 !important; }

.display-block {
  display: block; }

.marker-icon-svg {
  padding-left: 5px; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.clear-both {
  clear: both; }

.margin-bottom-none {
  margin-bottom: none; }

.scrollbar-design::-webkit-scrollbar-track {
  background-color: #e0e1e2; }

.scrollbar-design::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5; }

.scrollbar-design::-webkit-scrollbar-thumb {
  background-color: #636365;
  height: 10px; }

.slick-track {
  padding-bottom: 20px; }

.slick-slide {
  margin: 0px 20px;
  width: 342px; }
  @media (max-width: 767px) {
    .slick-slide {
      width: 310px; } }

.slick-prev {
  left: -60px; }

.slick-next {
  right: -60px; }

.slick-slide img {
  width: 100%;
  object-fit: cover; }

.slick-prev:hover,
.slick-next:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); }

.slick-dots {
  z-index: 50;
  bottom: -35px; }
  @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    .slick-dots {
      bottom: -15px; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .slick-dots {
      bottom: -15px; } }

.slick-dots li button:before {
  font-size: 15px;
  color: #ffffff;
  opacity: 0.5; }

.slick-dots li button.slick-active:before {
  opacity: 1.0; }

.slick-prev,
.slick-next {
  width: 100px;
  height: 100px; }
  @media (max-width: 767px) {
    .slick-prev,
    .slick-next {
      display: none !important; } }

.slick-prev:before,
.slick-next:before {
  font-size: 100px; }

.slick-prev:before {
  font-family: 'slick';
  line-height: 1;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/nk360/shared/lib/im/images/icon-prev.svg") no-repeat;
  color: transparent;
  background-size: contain; }

.slick-next:before {
  font-family: 'slick';
  line-height: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/nk360/shared/lib/im/images/icon-next.svg") no-repeat;
  color: transparent;
  background-size: contain; }

.slick-dots {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 auto; }
  .slick-dots > li {
    display: inline-block; }
    .slick-dots > li.slick-active > a, .slick-dots > li.slick-active > button {
      background-color: orange;
      cursor: default; }
    .slick-dots > li > a,
    .slick-dots > li > button {
      display: block;
      background: #9eb2c1;
      width: 16px;
      height: 16px;
      text-indent: -99999px;
      padding: 0;
      margin: 0 2px;
      border: 1px solid white !important;
      border-radius: 99px;
      outline: none;
      cursor: pointer; }
      .slick-dots > li > a:hover, .slick-dots > li > a:active, .slick-dots > li > a:focus,
      .slick-dots > li > button:hover,
      .slick-dots > li > button:active,
      .slick-dots > li > button:focus {
        background: #7f99ad; }

.intro-slider-wrapper .overlay {
  z-index: 70; }

.card {
  background: #FFFFFF;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 20px 48px;
  min-height: 600px; }
  .card:before {
    background: #CABDB6;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg); }
  @media screen and (max-width: 1199px) {
    .card {
      min-height: 500px; } }
  .card .close-icon {
    position: absolute;
    top: 0;
    right: -100px;
    cursor: pointer; }
    @media screen and (max-width: 767px) {
      .card .close-icon {
        position: absolute;
        right: -15px;
        top: -15px;
        filter: drop-shadow(1px 1px 1px black);
        z-index: 101; } }
    @media screen and (max-width: 767px) {
      .card .close-icon img {
        width: 42px;
        height: 42px; } }
  .card .page-title {
    font-size: 0.8rem; }

.card-wrapper {
  z-index: 101;
  position: relative; }
  .card-wrapper > .card {
    transition: top 0.3s ease, left 0.3s ease;
    width: 393px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 100px; }
    .card-wrapper > .card:hover {
      -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4); }
    @media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
      .card-wrapper > .card {
        margin-top: 60px; } }
    @media screen and (max-width: 767px) and (orientation: landscape) {
      .card-wrapper > .card {
        margin-top: 40px; } }
    @media screen and (max-width: 767px) and (orientation: portrait) {
      .card-wrapper > .card {
        width: 360px;
        margin-top: 40px; } }
  .card-wrapper .card-before {
    opacity: .3;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  .card-wrapper .card-after {
    left: 0px;
    background: white;
    top: 0px;
    opacity: .3;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg); }

.card {
  background: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  position: absolute;
  width: 93%;
  height: 580px; }
  @media screen and (max-width: 1100px) {
    .card {
      height: 490px; } }

/*# sourceMappingURL=main.css.map */
