/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/
@font-face {
  font-family: "Geared Slab";
  font-weight: normal;
  font-style: normal;
  src: url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab.eot?") format("eot"), url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab.woff") format("woff"), url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab.ttf") format("truetype"); }

@font-face {
  font-family: "Geared Slab";
  font-weight: bold;
  font-style: normal;
  src: url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab-Bold.eot?") format("eot"), url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab-Bold.woff") format("woff"), url("/nk360/shared/lib/im/fonts/geared-slab/GearedSlab-Bold.ttf") format("truetype"); }

h1 {
  font-size: 3.6rem;
  font-family: "Geared Slab", serif;
  letter-spacing: 0.5px; }

h2 {
  font-family: "Geared Slab", serif;
  letter-spacing: 0.5px;
  color: #677c4a; }

h3 {
  font-family: "Geared Slab", serif;
  letter-spacing: 0.5px; }

h4 {
  font-size: 1rem; }

.header {
  max-width: 540px;
  margin: 10px auto 0;
  padding: 10px 0 20px;
  background-image: url("/nk360/shared/lib/im/images/np/decoration-np.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  max-height: 125px;
  margin-bottom: 25px; }
  @media screen and (max-width: 991px) and (orientation: portrait) {
    .header {
      margin: 60px auto 0; } }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .header {
      margin: 20px auto 0;
      max-width: 300px;
      background-size: 75%; }
      .header h1 {
        font-size: 1.8rem; }
      .header h2 {
        font-size: 0.8rem; } }
  .header h1 {
    font-size: 2.1rem;
    font-weight: normal;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); }
  .header h2 {
    font-size: 0.9rem;
    font-family: "Geared Slab", serif;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    color: #311d18; }

.btn {
  border-color: #311d18;
  color: #311d18; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: #311d18;
    border-color: #311d18;
    color: white !important; }
  .btn.btn-white {
    border-color: white;
    color: white; }
    .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
      color: #311d18 !important;
      background-color: white;
      border-color: white; }
  .btn.active {
    border-color: #311d18;
    background-color: #311d18;
    color: white !important;
    opacity: 1; }
    .btn.active:hover, .btn.active:focus, .btn.active:active {
      color: white !important;
      background-color: #311d18;
      border-color: #311d18;
      opacity: 0.65; }

body {
  background: url("/nk360/shared/lib/im/images/np/bkgr-np@2x.png");
  background-size: cover; }
  body .annotation-screen {
    margin: 50px auto 0 !important; }

@media screen and (max-width: 767px) and (orientation: portrait) {
  .header {
    max-width: 340px !important; } }
@media screen and (max-width: 767px) and (orientation: portrait) {
  .header h1 {
    font-size: 1.8rem !important; } }

.btn i path {
  fill: #301c18; }
.btn:hover i path {
  fill: #FFF; }

.slick-dots > li.slick-active > a,
.slick-dots > li.slick-active > button {
  background-color: #677c4a; }

.slider-card {
  background: url(/nk360/shared/lib/im/images/np/text-card-np@2x.png) white !important;
  background-size: 400px 600px !important;
  background-repeat: no-repeat; }
  @media screen and (max-width: 1199px) {
    .slider-card {
      background-size: 400px 500px !important; } }
  @media (max-width: 767px) {
    .slider-card {
      background-size: 370px 480px !important; } }
