#step-by-step-cards {
    .step {
        .step-container {
            background-image: url('../shared/images/np/text-card-np@2x.png');
            background-size: 75%;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}