#step-by-step-cards {
    .step {
        .step-container {
            background-image: url('../shared/images/pnw/text-card-pnw@2x.png');
            background-size: 75%;
            background-position: top center;
            background-repeat: no-repeat;
        }
    }
}