.faded {
	opacity:.5;
}

.close-faded {
	opacity:0;
}

.not-faded {
	opacity:1;
}

.cursor-pointer {
	cursor:pointer;
}

.btn {
	border-color:white !important;
}

.btn:hover, .btn:focus, .btn:active {
	background-color:white !important;
	color:#2e3742 !important;
}

.quiz-options {
	.btn {
		border-color:white !important;
	}

	.btn:hover {
		background-color:white !important;
		border:3px solid #2e3742 !important;
		color: #2e3742 !important;;
	}

	.btn:focus, .btn:active {
		background-color: #2e3742 !important;
		color: white !important;
	}
}