.faded {
	opacity:.5;
}

.not-faded {
	opacity:1;
}

.cursor-pointer {
	cursor:pointer;
}

.btn {
	border-color:white !important;
}

.btn:hover, .btn:focus, .btn:active {
	background-color:white !important;
	color:#2e3742 !important;
}