body {
  .image-credit {
    color:#888;
    margin:10px 0;
    font-size:85%;
    font-style:italic;
  }

  .photo-container {
    text-align: center;
    height: auto;
    position: relative;
  }
}
.game {
  height: 100vh;
  position: relative;
  overflow: hidden;

  .game-world {
    height: 100vh;
    min-width: 100vh;
    width: 15000px !important;
    position: relative;

    .game-world__background, .game-world__midground, .game-world__foreground {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url('../assets/bkgr.png') no-repeat;
      z-index: 1;
      background-size: cover;
    }

    .game-world__foreground {
      background: url('../assets/foregr.png') no-repeat;
      z-index: 3;
      background-size: cover;
    }

    .game-world__midground {
      background: url('../assets/midgr.png') no-repeat;
      z-index: 2;
      background-size: cover;
    }
  }
}

#SelectedSalmon {
  margin-top: 50vh;
  position: fixed;
  top: -1em;
  margin-left: 1em;
  z-index: 10;
}

.steelhead-1 {
  width: 141px;
  height:54px;
  background: url(http://dev.interactivemechanics.com/sprites/steelhead-0.png) no-repeat;
  animation: one-steelhead-fish-swimming 1s steps(14) infinite;
}

.steelhead-2 {
  width:265px;
  height:56px;
  background: url(http://dev.interactivemechanics.com/sprites/steelhead-1.png) no-repeat;
  animation: two-steelhead-fish-swimming 1s steps(14) infinite;
}

.steelhead-3 {
  width: 367px;
  height:74px;
  background: url(http://dev.interactivemechanics.com/sprites/steelhead-2.png) no-repeat;
  animation: three-steelhead-fish-swimming 1s steps(14) infinite;
}

.steelhead-4 {
  width: 366px;
  height:97px;
  background: url(http://dev.interactivemechanics.com/sprites/steelhead-3.png) no-repeat;
  animation: three-steelhead-fish-swimming 1s steps(14) infinite;
}

.steelhead-5 {
  width: 366px;
  height:97px;
  background: url(http://dev.interactivemechanics.com/sprites/steelhead-4.png) no-repeat;
  animation: three-steelhead-fish-swimming 1s steps(14) infinite;
}

.chinook-1 {
  width: 146px;
  height:49px;
  background: url(http://dev.interactivemechanics.com/sprites/chinook-0.png) no-repeat;
  animation: one-chinook-fish-swimming 1s steps(14) infinite;
}

.chinook-2 {
  width: 270px;
  height:52px;
  background: url(http://dev.interactivemechanics.com/sprites/chinook-1.png) no-repeat;
  animation: two-chinook-fish-swimming 1s steps(14) infinite;
}

.chinook-3 {
  width: 373px;
  height:71px;
  background: url(http://dev.interactivemechanics.com/sprites/chinook-2.png) no-repeat;
  animation: three-chinook-fish-swimming 1s steps(14) infinite;
}

.chinook-4 {
  width: 373px;
  height:94px;
  background: url(http://dev.interactivemechanics.com/sprites/chinook-3.png) no-repeat;
  animation: three-chinook-fish-swimming 1s steps(14) infinite;
}

.chinook-5 {
  width: 373px;
  height:94px;
  background: url(http://dev.interactivemechanics.com/sprites/chinook-4.png) no-repeat;
  animation: three-chinook-fish-swimming 1s steps(14) infinite;
}

.sockeye-1 {
  width: 152px;
  height:62px;
  background: url(http://dev.interactivemechanics.com/sprites/sockeye-0.png) no-repeat;
  animation: one-sockeye-fish-swimming 1s steps(14) infinite;
}

.sockeye-2 {
  width: 276px;
  height:63px;
  background: url(http://dev.interactivemechanics.com/sprites/sockeye-1.png) no-repeat;
  animation: two-sockeye-fish-swimming 1s steps(14) infinite;
}

.sockeye-3 {
  width: 379px;
  height:80px;
  background: url(http://dev.interactivemechanics.com/sprites/sockeye-2.png) no-repeat;
  animation: three-sockeye-fish-swimming 1s steps(14) infinite;
}

.sockeye-4 {
  width: 379px;
  height:102px;
  background: url(http://dev.interactivemechanics.com/sprites/sockeye-3.png) no-repeat;
  animation: three-sockeye-fish-swimming 1s steps(14) infinite;
}

.sockeye-5 {
  width: 379px;
  height:102px;
  background: url(http://dev.interactivemechanics.com/sprites/sockeye-4.png) no-repeat;
  animation: three-sockeye-fish-swimming 1s steps(14) infinite;
}
      
@keyframes one-steelhead-fish-swimming {
  100%{background-position:-1974px;}
}

@keyframes two-steelhead-fish-swimming {
  100%{background-position:-3724px;}
}

@keyframes three-steelhead-fish-swimming {
  100%{background-position:-5138px;}
}

@keyframes one-chinook-fish-swimming {
  100%{background-position:-2072px;}
}

@keyframes two-chinook-fish-swimming {
  100%{background-position:-3808px;}
}

@keyframes three-chinook-fish-swimming {
  100%{background-position:-5236px;}
}

@keyframes one-sockeye-fish-swimming {
  100%{background-position:-2142px;}
}

@keyframes two-sockeye-fish-swimming {
  100%{background-position:-3878px;}
}

@keyframes three-sockeye-fish-swimming {
  100%{background-position:-5306px;}
}

.hotspot {
  width: 87px;
  height: 87px;
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  background: url(../assets/icon@2x.png) no-repeat;
  animation: stretch 2.25s infinite;
  background-size:contain;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}


#select-fish {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  z-index: 90;

  .select-fish-container {
    z-index: 91;
    position: relative;
    text-align: center;
    padding: 100px 20px;

    @media screen and (max-width: 767px) {
      padding:30px;
    }
  }
}

.fish-row {

  @media (max-width: 990px) {
    
    .fish-photo {
      width: 20%;
      vertical-align: middle;
      display: inline-block;
      height: 100%;
    }

    .fish-detail {
      width: 73%;
      text-align: left;
      padding-left: 5%;
      display: inline-block;
    }

  }

  img {
    padding: 50px;
    @media (max-width: 990px) {
      padding:0;
    }
    cursor:pointer;

    &:hover {
      background:url('../assets/selection-hover@2x.png') no-repeat;
      background-size:contain;
      background-position-y:25px;
    }
  }

  .selected {
    img {
      background:url('../assets/selection-active@2x.png') no-repeat;
      background-size:contain;
      background-position-y:25px;
    }
  }

  margin-bottom:30px;
}

.activity-menu-wrapper > div {
  z-index: 100; }
.activity-menu-wrapper .icon {
  width: 36px;
  height: 36px;
  margin: 10px 5px;
  display: inline-block;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all;
  cursor: pointer; }
  .activity-menu-wrapper .icon:last-of-type {
    margin-right: 15px; }
  .activity-menu-wrapper .icon:hover, .activity-menu-wrapper .icon:focus, .activity-menu-wrapper .icon:active {
    opacity: 0.5; }
  .activity-menu-wrapper .icon.icon-info {
    background-image: url(../shared/images/icon-info.svg); }
  .activity-menu-wrapper .icon.icon-home {
    background-image: url(../shared/images/icon-home.svg); }
  .activity-menu-wrapper .icon.icon-print {
    background-image: url(../shared/images/icon-print.svg); }
  .activity-menu-wrapper .icon.icon-restart {
    background-image: url(../shared/images/icon-restart.svg); }
  .activity-menu-wrapper .icon.icon-pause {
    background-image: url(../shared/images/icon-pause.svg); }
  .activity-menu-wrapper .icon.icon-play {
    background-image: url(../shared/images/icon-play.svg); }

#congrats-instructions {
    font-family: 'Open Sans';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    z-index: 1000;
    overflow: auto;
    font-size:110%;
    .congrats-instructions-container {
        z-index: 101;
        position: relative;
        text-align: center;
        padding: 100px 20px;

        @media screen and ($screen-xs) {
            padding: 30px 30px 100px;
        }

        h2, h3 {
            color: white !important;
            font-family: 'Open Sans';
        }

        p {
          margin:30px 0;
          font-family: 'Open Sans';
        }

        a {
          font-family: 'Open Sans';
        }

        .row {
            margin-bottom: 20px;
        }
    }
}

.quiz-detail {
  font-weight:bold;
}

.solution-text {
  font-weight:bold;
}


@media (max-width: 800px) {
  * {
    /* Remove CSS transitions
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;*/
    
    /* Remove CSS transforms
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;*/
    
    /* RemoveCSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
    
    