// Colors
$primary:           #677c4a;    // Green
$secondary:         #eeb14f;    // Yellow
$accent:            #73cce4;    // Blue

$lightaccent:       #e4dcce;    // Light beige
$midaccent:         #a39e90;    // Mid beige

$btnaccent:         #311D18;    // Brown


// Typography
@font-face {
    font-family: "Geared Slab";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/geared-slab/GearedSlab.eot?') format('eot'), 
         url('../fonts/geared-slab/GearedSlab.woff') format('woff'), 
         url('../fonts/geared-slab/GearedSlab.ttf') format('truetype');
}

@font-face {
    font-family: "Geared Slab";
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/geared-slab/GearedSlab-Bold.eot?') format('eot'), 
         url('../fonts/geared-slab/GearedSlab-Bold.woff') format('woff'), 
         url('../fonts/geared-slab/GearedSlab-Bold.ttf') format('truetype');
}

$headline:          'Geared Slab', serif;
$headline-accent:   'Open Sans', serif;


// Typography styling
h1 {
    font-size: 3.6rem;
    font-family: $headline;
}
h2 {
    font-family: $headline;
    color: $primary;
}
h3 {
    font-family: $headline;
}
h4 {
    font-size: 1rem;
}
h5 {

}
h6 {

}

.header {
    max-width: 540px;
    margin: 10px auto 0;
    padding: 10px 0 20px;
    background-image: url('../images/np/decoration-np.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    max-height: 125px;
    margin-bottom: 25px;

    h1 {
        font-size: 2.1rem;
        font-weight: normal;
        text-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    }
    h2 {
        font-size: 0.9rem;
        font-family: $headline;
        text-shadow: 2px 2px 6px rgba(0,0,0,0.25);
        color: $btnaccent;
    }
}


// Styles
.btn {
    border-color: $btnaccent;
    color: $btnaccent;

    &:hover, &:focus, &:active {
        background-color: $btnaccent;
        border-color: $btnaccent;
        color: white !important;
    }
    &.btn-white {
        border-color: white;
        color: white;

        &:hover, &:focus, &:active {
            color: $btnaccent !important;
            background-color: white;
            border-color: white;
        }
    }
}
