#selection {
	height: 100vh;
	width: 100vw;
	background: blue;
}

.era-wrapper {
	display: flex;
}

div[id^="era-block"] {
	//align-items: center;
	flex: 1;
	display: flex;
	height: 100vh;
	align-items: flex-end;

	h1 {
		color: white;
		font-size: 38px;
		font-weight: 300;
		margin-bottom: 150px;
	}
	
	.era-content-wrapper {
		text-align: center;
		width: 100%;
		height: 70%;
	    display: flex;
	    flex-direction: column;
	    //justify-content: space-around;
	    padding: 100px 60px 80px 60px;
	}
}

#era-block-1 {
	background: linear-gradient(135deg, #ababab, #232323);
}

#era-block-2 {
	background: linear-gradient(135deg, #efefef, #545454);
}

#era-block-3 {
	background: linear-gradient(135deg, #9e9e9e, #212020);
}

#detail {
	background: #a9a9ab;
	height: 100vh;
	width: 100vw;
}

#explore {
	background: #a9a9ab;
	height: 100vh;
	position: relative;
	width: 100vw;
}



