#selection {
	height: 100vh;
	width: 100vw;
	background: white;
}

.era-wrapper {
	display: flex;
}

div[id^="era-block"] {
	flex: 1;
	display: flex;
	height: 100vh;
	align-items: flex-end;

	img {
		position: absolute;
	}
	
	.era-content-wrapper {
		text-align: center;
		width: 100%;
		height: 46%;
	    display: flex;
	    flex-direction: column;
	    padding: 0px 60px 80px 60px;
	    position: relative;
	}
}

.heading-wrapper {
	margin-bottom: 80px;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		position: absolute;
	}

	h1 {
		color: white;
		margin: 0px;
		padding: 0px;
		line-height: 1;
		z-index: 2;
		text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4);

	}
}

.heading-wrapper[data-era="1"] {
	h1 {
		position: relative;
		top: 10px;
	}
}


#era-block-1 {
	background:  url('../../assets/timeline-segment-overlay-bg01@2x.png'), url('../../assets/timeline-segment-bg01@2x.jpg');
	background-size: cover, cover;
	button {
		&:hover, &:active {
			color:  $primary !important;
		}
	}
}

#era-block-2 {
	background:  url('../../assets/timeline-segment-bg02@2x.jpg');
	background-size: cover;
	opacity: 0.35;
	transition: 0.5s all ease-in-out;
	button {
		&:hover, &:active {
			color:  $accent !important;
		}
	}

}

#era-block-2.active {
	background:  url('../../assets/timeline-segment-overlay-bg02@2x.png'), url('../../assets/timeline-segment-bg02@2x.jpg');
	opacity: 1.0;
}

#era-block-3 {
	background: url('../../assets/timeline-segment-bg03@2x.jpg');
	background-size: cover;
	opacity: 0.35;
	button {
		&:hover, &:active {
			color:  $secondary !important;
		}
	}
}

#era-block-3.active {
	background:  url('../../assets/timeline-segment-overlay-bg03@2x.png'), url('../../assets/timeline-segment-bg03@2x.jpg');
	opacity: 1.0;
}



#detail {
	background: url('../../assets/bkgr-pnw@2x.png');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	text-align: center;
	.heading-wrapper {
		position: relative;
		top: 17px;
	}
}

#explore {
	background: #a9a9ab;
	height: 100vh;
	position: relative;
	width: 100vw;
}



