
.modal-backdrop {
  opacity: 0.7 !important;
}

.modal-dialog {
	max-width: 450px; // originally 500px
	background-color: white;
	border-radius: 10px;
}

.modal-header {
	flex-direction: column;
	border-bottom: none;
	padding: 40px 20px 20px;
}

.modal-content {
	background: url('../assets/text-card-pnw@2x.png');
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 650px;
}

.modal-body {
	padding: 0px 30px 40px;
	p {
		font-size: 14px;
		margin-top: 20px;
	}
}

.modal-title {
	text-align: center;
}

.modal-year {
	font-size: 0.75em;
	letter-spacing: 1px;
}

.modal-photo-wrapper {
	position: relative;
	img {
		max-width: 100%;
	}
	figcaption {
		font-size: 13px;
		font-style: italic;
		color: $black;
		margin-top: 10px;
	}
}



.modal-img-wrapper {
	max-height: 250px;
    overflow: hidden;
    background: $midgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.close[data-dismiss="modal"] {
	position: absolute;
	left: 105%;
	top: 0%;
}

.zoom {
	position: absolute;
    right: 0px;
    top: 218px;
    background: transparent;
    border: none;
}

.attribution {
	display: block;
    font-style: italic;
    text-align: right;
    margin-top: 10px;
}