.timeline-bkgr {
    height: 100%;
}


.transition-overlay {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100vh;
    width: 100vw;
}

.transition-content-wrapper {
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 45%;
    margin: 0 auto;
    text-align: center;
    padding: 0px 25px;
    h1 {
        margin: 20px 0px;
        font-family: $headline-accent;
        font-size: 4.0em;
    }
    h6 {
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    p {
        font-weight: 300;
        margin-top: 20px;
        line-height: 1.9;
        padding: 0px 25px;
    }
    .btn-wrapper {
        display: flex;
        margin-top: 60px;
        .btn {
            margin: 20px;
            font-weight: 400;
        }
    }
}

.timeline-wrapper {
    position: absolute;
    height: 103%;
    width: 100%;
    overflow: auto;
    background: url('../../assets/timeline-full@2x.jpg');
    background-size: cover;
}


.timeline-track {
    border-bottom: 1px solid #deded1;
    bottom: 17%;
    left: 5%;
    position: absolute;
    width: calc(#{$moment-width} + #{$last-of-timeline-item-left} + 250px); // can we make this a calc?

}

.timeline-item-wrapper {
    position: absolute;
}

.timeline-item {
    background-color: white;
    border: none;
    border-radius: 37px;
    display: flex;
    position: absolute;
    text-align: initial;
    width: $moment-width;
    height: 85px;
    z-index: 3;
}

.timeline-item-wrapper[data-timeline="1"] {
    left: 5%;
    top: $timeline-top;
}

.timeline-item-wrapper[data-timeline="2"] {
    left: 805px;
    top: $timeline-top;

}

.timeline-item-wrapper[data-timeline="3"] {
    left: 1144px;
    top: $timeline-top-alt;
}

.timeline-item-wrapper[data-timeline="4"] {
    left: 1238px;
    top: $timeline-top;
}

.timeline-item-wrapper[data-timeline="5"] {
    left: $last-of-timeline-item-left;
    top: $timeline-top;
}

.timeline-btn-img {
    height: 82px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 2px -2px;
    width: 82px;
}

.timeline-btn-text-wrapper {
    h6 {
        font-weight: 700;
    }
    p {
        font-size: 14px;
    }
}


#prev-btn {
    left: 12px;
    position: absolute;
    top: 50%;
    border: none;
    z-index: 3;
    transition: 0.5 opacity ease-in-out;
    &:hover, &:active, &:focus {
        background: transparent !important;
        opacity: 0.7;
    }
}

#next-btn {
    @extend #prev-btn;
    right: 12px;
    left: auto;
}

.lg-label-wrapper {
    position: absolute;
    bottom: 40px;
    width: calc(#{$moment-width} + #{$last-of-timeline-item-left} + 250px); // identical to .timeline-track
    padding-left: 0px;
    left: 5%;
    li {
        display: inline;
        h2 {
            color: #deded1;
            display: inline;
            font-family: $headline;
            position: relative;

        }
    }
}


.sm-label {
    font-family: $headline-accent;
    position: relative;
    top: 28px;
    left: -4px;
    color: #deded1;
}

.sm-label-wrapper {
    position: relative;
    height: 150px;
    border-left: 2px dotted #deded1;
    display: flex;
    align-items: flex-end;
    padding-left: 2px;
    top: 42px;
    h4 {
        display: inline;
        position: relative;
        font-family: $headline-accent;
    }   
}

.sm-label-wrapper[data-timeline="3"] {
    height: 314px;
}

// .sm-label[data-timeline="1"] {
//      left: 0px;
// }

// .sm-label[data-timeline="2"] {
//      left: 450px;
// }

// .sm-label[data-timeline="3"] {
//      left: 1100px;
// }

// .sm-label[data-timeline="4"] {
//      left: 1500px;
// }

// .sm-label[data-timeline="5"] {
//      left: $last-of-timeline-item-left;
// }

.lg-label-2 {
    left: 285px;
}

.leg-label-3 {
    left: 786px;
}

