

.transition-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
}

.transition-content-wrapper {
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    h1 {
        margin: 20px;
    }
    .btn-wrapper {
        display: flex;
        margin-top: 60px;
        .btn {
            margin: 20px;
        }
    }
}

.timeline-wrapper {
    position: absolute;
    left: 5%;
    height: 103%;
    width: 100%;
    overflow: auto;
}


.timeline-track {
    border-bottom: 3px solid black;
    bottom: 15%;
    position: absolute;
    width: calc(#{$timeline-item-width} + #{$last-of-timeline-item-left} + 250px); // can we make this a calc?

}

.timeline-item {
    background-color: #dedede;
    border-radius: 20px;
    height: 100px;
    position: absolute;
    width: $timeline-item-width;
    border-radius: 65px;
}

.timeline-item[data-timeline="1"] {
    left: 40px;
    top: 400px;
}

.timeline-item[data-timeline="2"] {
    left: 450px;
    top: 200px;
}

.timeline-item[data-timeline="3"] {
    left: 1100px;
    top: 400px;
}

.timeline-item[data-timeline="4"] {
    left: 1500px;
    top: 200px;
}

.timeline-item[data-timeline="5"] {
    left: $last-of-timeline-item-left;
    top: 200px
}

.timeline-btn-img {
    height: 75px;
    width: 75px;
    border: 3px solid black;
    border-radius: 50%;
}

#prev-btn {
    left: 1%;
    position: absolute;
    top: 50%;
}

#next-btn {
    left: 93%;
    position: absolute;
    top: 50%;
}

.lg-label-wrapper {
    position: absolute;
    bottom: 40px;
    li {
        display: inline;
        h2 {
            display: inline;
        }
    }
}