$timeline-item-width: 			300px;
$last-of-timeline-item-left: 	2100px;

// Colors 
// PNW Theme
$primary:           #006986;    // Blue-green darker
$secondary:         #a8bd46;    // Green
$accent:            #ec5343;    // Red-orange

$lightaccent:       #d4edea;    // Light blue
$midaccent:         #9eb2c1;    // Mid blue-gray

$btnaccent:         #2E3742;    // Deep blue

