$moment-width: 			        366px;
$last-of-timeline-item-left: 	1691px;
$timeline-bottom:                  232px;
$timeline-bottom-alt:              396px;

// Colors 
// PNW Theme
$primary:           #006986;    // Blue-green darker
$secondary:         #a8bd46;    // Green
$accent:            #ec5343;    // Red-orange

$lightaccent:       #d4edea;    // Light blue
$midaccent:         #9eb2c1;    // Mid blue-gray

$btnaccent:         #2E3742;    // Deep blue

$lightgray:         #f1f2f2;
$midgray:           #9eb2c1;
$black:             #2e3742;

// Typography
@font-face {
    font-family: "Ludicrous";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ludicrous/Ludicrous.eot?') format('eot'), 
         url('../fonts/ludicrous/Ludicrous.woff') format('woff'), 
         url('../fonts/ludicrous/Ludicrous.ttf') format('truetype');
}

@font-face {
    font-family: "Archer Pro";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/archer-pro/ArcherPro-Book.eot?') format('eot'), 
         url('../fonts/archer-pro/ArcherPro-Book.woff') format('woff'), 
         url('../fonts/archer-pro/ArcherPro-Book.ttf') format('truetype');
}

@font-face {
    font-family: "Archer Pro";
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/archer-pro/ArcherPro-Semibold.eot?') format('eot'), 
         url('../fonts/archer-pro/ArcherPro-Semibold.woff') format('woff'), 
         url('../fonts/archer-pro/ArcherPro-Semibold.ttf') format('truetype');
}

$sans-serif:        'Open Sans', sans-serif;
$headline:          'Ludicrous', serif;
$headline-accent:   'Archer Pro', serif;