.header {
    max-width: 540px;
    margin: 10px auto 0;
    background-image: url(../../shared/lib/im/images/pnw/splash-04.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 0 0;
    max-height: 85px;
    margin-bottom: 25px;
}