.slick-slide {
    margin: 0px 20px;
	width: 342px;
	  
	@media (max-width: 767px) { 
	 	width:310px;
	}

	img {
		width: 100%;
	}
}

.slick-prev {
	left: -130px;
}

.slick-next {
	right: -50px;
}

.slick-prev:before,
.slick-next:before {
	font-size:100px;
}

.slick-prev:before {
    font-family: 'slick';
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../images/icon-prev.svg') no-repeat;
    color: transparent;
    background-size:contain;
}


.slick-next:before {
    font-family: 'slick';
    line-height: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../images/icon-next.svg') no-repeat;
    color: transparent;
    background-size:contain;
}

.slick-dots {
	z-index: 50;

	li {
		@include screen-ltmd {
			display: inline-block;
		}
		@include screen-xs {
			display: inline-block;
		}
		@include screen-xxs {
			margin: 0 3px;
		}
		button {
			&:before {
				font-size: 17px;
				color: #ffffff;
				opacity: 0.5;
			}
		}
		&.slick-active {
			button {
				&:before {
					color: #fff;
					opacity: 1.0;
				}
			}
		}
	}
}

.slick-dots {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
	bottom: -80px;

    > li {
        display: inline-block;

        &.slick-active {
            > a,
            > button {
                background-color: orange;
                cursor: default;
            }
        }

        > a,
        > button {
            display: block;
            background: $midgray;
            width: 16px;
            height: 16px;
            text-indent: -99999px;
            padding: 0;
            margin: 0 2px;
            border: 1px solid white !important;
            border-radius: 99px;
            outline: none;
            cursor: pointer;

            &:hover, &:active, &:focus {
                background: darken($midgray, 10%);
            }
        }
    }
}