body {
	background: url('/nk360/shared/lib/im/images/pnw/bkgr-pnw@2x.png');
	background-size: cover;

	@media screen and ($screen-xs) {
    	margin:0px auto 0 !important;
    }
}
.header {
    @media screen and ($screen-xs) and ($screen-portrait) {
        max-width: 340px !important;
        background-position: top center !important;
    }

    h1 {
        @media screen and ($screen-xs) and ($screen-portrait) {
            font-size: 1.8rem !important;
        }
    }
    h2 {
        @media screen and ($screen-xs) and ($screen-portrait) {
            max-width: 90%;
            margin: 0 auto;
        }
    }
}
.btn {
	
	i {
	  path {
	    fill:#2E3742;
	  }
	}
	&:hover {
		i {
		  path {
		    fill:#FFF;
		  }
		}
	}
}

h3 {
	span {
    	font-family: "Archer Pro", serif;
	}
}