body {
	background: url('/nk360/shared/lib/im/images/pnw/bkgr-pnw@2x.png');
	background-size: cover;
}

.btn {
	
	i {
	  path {
	    fill:#2E3742;
	  }
	}
	&:hover {
		i {
		  path {
		    fill:#FFF;
		  }
		}
	}
}