/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hidden {
  display: none !important; }

* {
  font-family: "Open Sans", sans-serif; }

h4 {
  font-size: 1rem; }

.all-caps {
  text-transform: uppercase; }

.letter-spacing-1 {
  letter-spacing: 1px; }

html,
body {
  background: #231f20;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

.rel {
  position: relative; }

.abs {
  position: absolute; }
  .abs.right {
    right: 0; }
  .abs.left {
    left: 0; }
  .abs.top {
    top: 0; }
  .abs.bottom {
    bottom: 0; }

footer {
  color: white;
  height: 50px;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  padding: 11px; }
  footer.transparent {
    background: transparent; }
  footer img {
    height: 34px;
    position: relative;
    top: -4px; }
    @media screen and (max-width: 767px) {
      footer img {
        display: none; } }
  footer ul {
    margin-top: 6px; }
    footer ul li:not(:last-child):after {
      content: '|';
      margin: 0 0 0 10px;
      opacity: 0.5; }
    footer ul li a {
      color: white; }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
        color: white; }

#instructions {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  z-index: 1000; }
  #instructions .instructions-container {
    z-index: 101;
    position: relative;
    text-align: center;
    padding: 100px 20px; }
    @media screen and (max-width: 767px) {
      #instructions .instructions-container {
        padding: 30px; } }

[data-toggle="tooltip"] {
  border-bottom: 1px dotted #231f20;
  transition: all 0.5s; }
  [data-toggle="tooltip"]:hover, [data-toggle="tooltip"]:focus, [data-toggle="tooltip"]:active {
    border-bottom: 1px dotted #f1f2f2; }
  [data-toggle="tooltip"].invert {
    border-bottom: 1px dotted white; }
    [data-toggle="tooltip"].invert:hover, [data-toggle="tooltip"].invert:focus, [data-toggle="tooltip"].invert:active {
      border-bottom: 1px dotted #939598; }

[data-pronounce] {
  background-color: #f1f2f2;
  transition: all 0.5s; }
  [data-pronounce]:hover, [data-pronounce]:focus, [data-pronounce]:active {
    background-color: #939598; }
  [data-pronounce].invert {
    background-color: #231f20; }
    [data-pronounce].invert:hover, [data-pronounce].invert:focus, [data-pronounce].invert:active {
      background-color: #939598; }

.btn {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  border-width: 2px;
  padding: .75rem 1.25rem .85rem;
  cursor: pointer; }
  .btn.btn-lg {
    padding: 1rem 1.75rem 1.1rem; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: white;
    border-color: white;
    color: #231f20 !important; }

.activity-menu-wrapper > div {
  z-index: 100; }
.activity-menu-wrapper .icon {
  width: 44px;
  height: 44px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block; }
  .activity-menu-wrapper .icon.icon-info {
    background-color: blue; }
  .activity-menu-wrapper .icon.icon-home {
    background-color: red; }
  .activity-menu-wrapper .icon.icon-print {
    background-color: yellow; }

[data-gallery] {
  width: 32px;
  height: 32px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block;
  background-color: red;
  position: absolute;
  bottom: 10px;
  right: 10px; }

#selection {
  height: 100vh;
  width: 100vw;
  background: blue; }

.era-wrapper {
  display: flex; }

div[id^="era-block"] {
  flex: 1;
  display: flex;
  height: 100vh;
  align-items: flex-end; }
  div[id^="era-block"] h1 {
    color: white;
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 150px; }
  div[id^="era-block"] .era-content-wrapper {
    text-align: center;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 100px 60px 80px 60px; }

#era-block-1 {
  background: linear-gradient(135deg, #ababab, #232323); }

#era-block-2 {
  background: linear-gradient(135deg, #efefef, #545454); }

#era-block-3 {
  background: linear-gradient(135deg, #9e9e9e, #212020); }

#detail {
  background: #a9a9ab;
  height: 100vh;
  width: 100vw; }

#explore {
  background: #a9a9ab;
  height: 100vh;
  position: relative;
  width: 100vw; }

#droppable-container {
  align-items: center;
  bottom: 0px;
  display: flex;
  justify-content: center;
  padding: 60px;
  position: absolute;
  width: 100%; }
  #droppable-container h3 {
    font-size: 16px;
    font-weight: 700; }

#era-label-start {
  width: 125px;
  text-align: right; }

.droppable-widget {
  border: 3px solid black;
  border-radius: 50%;
  height: 75px;
  margin: 0px 10px;
  width: 75px; }

[data-toggle="tooltip"] {
  border-bottom: none; }

.draggable-widget {
  background-color: white;
  height: 85px;
  position: absolute;
  width: 350px;
  border-radius: 65px;
  display: flex;
  align-items: center;
  overflow: hidden; }
  .draggable-widget img {
    height: 75px;
    width: 75px;
    border: 3px solid black;
    border-radius: 50%;
    margin-left: 5px; }
  .draggable-widget div {
    font-size: 14px;
    margin-left: 5px; }
    .draggable-widget div p {
      margin-bottom: 0px; }

.draggable-widget.dragged {
  background-color: transparent;
  border: none;
  height: auto;
  width: auto; }
  .draggable-widget.dragged .draggable-text {
    display: none; }
  .draggable-widget.dragged .draggable-img {
    border: none;
    height: 72px;
    width: 72px;
    position: relative;
    left: -2px; }

.draggable-widget[data-timeline="1"] {
  left: 50px;
  top: 150px; }

.draggable-widget[data-timeline="2"] {
  left: 450px;
  top: 150px; }

.draggable-widget[data-timeline="3"] {
  left: 850px;
  top: 150px; }

.draggable-widget[data-timeline="4"] {
  left: 200px;
  top: 300px; }

.draggable-widget[data-timeline="5"] {
  left: 750px;
  top: 300px; }

.ui-draggable-dragging {
  background-color: transparent;
  height: auto;
  width: auto; }
  .ui-draggable-dragging .draggable-text {
    display: none; }

.transition-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw; }

.transition-content-wrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 40%;
  margin: 0 auto;
  text-align: center; }
  .transition-content-wrapper h1 {
    margin: 20px; }
  .transition-content-wrapper .btn-wrapper {
    display: flex;
    margin-top: 60px; }
    .transition-content-wrapper .btn-wrapper .btn {
      margin: 20px; }

.timeline-wrapper {
  position: absolute;
  left: 5%;
  height: 103%;
  width: 100%;
  overflow: auto; }

.timeline-track {
  border-bottom: 1px solid #717171;
  bottom: 17%;
  position: absolute;
  width: calc(300px + 2100px + 250px); }

.timeline-item {
  background-color: #dedede;
  border: none;
  border-radius: 37px;
  display: flex;
  position: absolute;
  text-align: initial;
  width: 300px; }

.timeline-item[data-timeline="1"] {
  left: 40px;
  top: 400px; }

.timeline-item[data-timeline="2"] {
  left: 450px;
  top: 200px; }

.timeline-item[data-timeline="3"] {
  left: 1100px;
  top: 400px; }

.timeline-item[data-timeline="4"] {
  left: 1500px;
  top: 200px; }

.timeline-item[data-timeline="5"] {
  left: 2100px;
  top: 200px; }

.timeline-btn-img {
  height: 75px;
  border: 3px solid black;
  border-radius: 50%;
  margin: 2px -2px;
  width: 75px; }

.timeline-btn-text-wrapper {
  padding: 10px; }
  .timeline-btn-text-wrapper h6 {
    font-weight: 700; }
  .timeline-btn-text-wrapper p {
    font-size: 14px; }

#prev-btn {
  left: 1%;
  position: absolute;
  top: 50%; }

#next-btn {
  left: 93%;
  position: absolute;
  top: 50%; }

.lg-label-wrapper {
  position: absolute;
  bottom: 40px;
  width: calc(300px + 2100px + 250px);
  display: flex;
  justify-content: space-between;
  padding-left: 0px; }
  .lg-label-wrapper li {
    display: inline; }
    .lg-label-wrapper li h2 {
      color: #777;
      display: inline;
      font-weight: 700; }

.sm-label-wrapper {
  bottom: 90px;
  position: absolute; }
  .sm-label-wrapper h4 {
    display: inline;
    position: relative; }

.sm-label[data-timeline="1"] {
  left: 40px; }

.sm-label[data-timeline="2"] {
  left: 450px; }

.sm-label[data-timeline="3"] {
  left: 1100px; }

.sm-label[data-timeline="4"] {
  left: 1500px; }

.sm-label[data-timeline="5"] {
  left: 2100px; }

.modal-dialog {
  max-width: 400px; }

.modal-header {
  flex-direction: column;
  border-bottom: none;
  padding: 40px 20px 20px; }
  .modal-header:after {
    content: "";
    border: 2px solid #DDDDDD;
    margin-top: 15px;
    width: 50px; }

.modal-body {
  padding: 20px 20px 40px; }

.modal-photo-wrapper img {
  max-width: 100%; }
.modal-photo-wrapper figcaption {
  font-size: 14px;
  font-style: italic; }

.close[data-dismiss="modal"] {
  position: absolute;
  left: 110%;
  top: 0%; }
  .close[data-dismiss="modal"] span {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    font-weight: initial; }

/*# sourceMappingURL=main.css.map */
