#intro,
#learning-points {
	background: #ddd;
	height: 100vh;
	width: 100vw;
}

.intro-overlay,
.learning-points-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	left: 0px;
	padding: 40px;
	position: absolute;
	top: 0px;
	width: 100%;
}

.intro-card,
.learning-points-card {
	background-color: white;
	border-radius: 15px;
	height: 80%;
	left: 33%;
	position: absolute;
	top: 10%;
	width: 33%;
	padding: 35px;
	z-index: 2;

	.header-wrapper {
		display: flex;
    	flex-direction: column;
    	text-align: center;
    	margin-bottom: 40px;
        margin-top: 0;
        padding-top: 20px;

    	h1 {
    		font-size: 26px;
    		line-height: 1.4;
		}
	}
	.text-wrapper {
		h6 {
			text-align: center;
		    font-weight: 600;
		    margin-top: 50px;
		    position: bottom;
		    position: absolute;
		    bottom: 50px;
		    width: 100%;
		    left: 0px;
		    padding: 0px 30px;
		}
		
	}

}

#puzzle {
    .header-wrapper {
        margin: 0 auto;
    }
}

.subheader {
	padding-left: 0px;
    margin: 0;

	li {
		display: inline;
		font-size: 16px;
		color: white;
		font-family: $headline-accent;
	}
}