.modal-backdrop {
  opacity: 0.65 !important;
}


.modal {
	top: 20px;
}

.modal-content {
	height: 550px;
}


// identical to 2-Timeline
.modal-dialog {
	max-width: 400px; // originally 500px
}

.modal-header {
	flex-direction: column;
	border-bottom: none;
	padding: 40px 20px 20px;
	cursor: move;
}

.modal-body {
	padding: 15px 30px;
	small {
		font-style: italic;
    	display: block;
	}

	p {
		margin-top: 40px;
	}
}

.close[data-dismiss="modal"] {
	position: absolute;
	left: 105%;
	top: 0%;
}

.modal-img {
	max-width: 100%;
}

.modal-caption {
	text-align: left;
}

.modal-footer-message {
	text-align: center;
    position: absolute;
    bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    font-style: italic;
    display: block;
    left: 0px;
    width: 100%;
}