.intro-slider-wrapper {
    .overlay {
        z-index: 70;
    }
}
.card {
    background: #FFFFFF;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    padding: 20px 48px;
    min-height: 600px;
    @media screen and (max-width: 1200px) {
        min-height: 500px;
    }
    .close-icon {
        position: absolute;
        top: 0;
        right: -100px;
        cursor: pointer;
    }
    .page-title {
        font-size: 0.8rem;
    }
}
.card:before {
    background: #CABDB6;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}
.card-wrapper {
    z-index: 95;
    position: relative;
    & > {
        .card {
            position: absolute;
            top: 0;
            left: 0;
            transition: top 0.3s ease, left 0.3s ease;
            width: 393px;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            margin-top: 100px;
            &:hover {
                -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
                box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
            }

            @media screen and ($screen-md) and ($screen-landscape) {
                margin-top: 60px;
            }
        }
    }
    .card-before {
        opacity: .3;
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    .card-after {
        left: 0px;
        background: white;
        top: 0px;
        opacity: .3;
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}
.card {
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    position: absolute;
    width: 93%;
    height: 580px;
    @media screen and (max-width: 1100px) {
        height: 490px;
    }
}
.quiz-options {
    width: 100%;
    button {
        color: white;
        background: grey;
        font-size: 21px;
        padding: 15px;
        margin: 5px 0 20px;
        &:focus {
            outline: 0;
        }
        &:active {
            outline: 0;
        }
        &.correct {
            background: green;
        }
        &.wrong {
            background: red;
        }
    }
    hr {
        border-width: 5px;
    }
}
.quiz-answered {
    button {
        color: white;
        background: grey;
        font-size: 21px;
        padding: 15px;
        margin: 5px 0 20px;
        &:hover {
            background: grey !important;
            color: white !important;
        }
    }
    .correct {
        &:hover {
            background: green !important;
        }
    }
    .wrong {
        &:hover {
            background: red !important;
        }
    }
}
.slider-card {
    background: white !important;
    background-size: 400px 600px !important;
    background-repeat: no-repeat;
    @media screen and (max-width: 1200px) {
        background-size: 400px 500px !important;
    }
}