/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hidden {
  display: none !important; }

* {
  font-family: "Open Sans", sans-serif; }

h4 {
  font-size: 1rem; }

.all-caps {
  text-transform: uppercase; }

.letter-spacing-1 {
  letter-spacing: 1px; }

html,
body {
  background: #231f20;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

.rel {
  position: relative; }

.abs {
  position: absolute; }
  .abs.right {
    right: 0; }
  .abs.left {
    left: 0; }
  .abs.top {
    top: 0; }
  .abs.bottom {
    bottom: 0; }

footer {
  color: white;
  height: 50px;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  padding: 11px; }
  footer.transparent {
    background: transparent; }
  footer img {
    height: 34px;
    position: relative;
    top: -4px; }
    @media screen and (max-width: 767px) {
      footer img {
        display: none; } }
  footer ul {
    margin-top: 6px; }
    footer ul li:not(:last-child):after {
      content: '|';
      margin: 0 0 0 10px;
      opacity: 0.5; }
    footer ul li a {
      color: white; }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
        color: white; }

#instructions {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  z-index: 1000; }
  #instructions .instructions-container {
    z-index: 101;
    position: relative;
    text-align: center;
    padding: 100px 20px; }
    @media screen and (max-width: 767px) {
      #instructions .instructions-container {
        padding: 30px; } }

[data-toggle="tooltip"] {
  border-bottom: 1px dotted #231f20;
  transition: all 0.5s; }
  [data-toggle="tooltip"]:hover, [data-toggle="tooltip"]:focus, [data-toggle="tooltip"]:active {
    border-bottom: 1px dotted #f1f2f2; }
  [data-toggle="tooltip"].invert {
    border-bottom: 1px dotted white; }
    [data-toggle="tooltip"].invert:hover, [data-toggle="tooltip"].invert:focus, [data-toggle="tooltip"].invert:active {
      border-bottom: 1px dotted #939598; }

[data-pronounce] {
  background-color: #f1f2f2;
  transition: all 0.5s; }
  [data-pronounce]:hover, [data-pronounce]:focus, [data-pronounce]:active {
    background-color: #939598; }
  [data-pronounce].invert {
    background-color: #231f20; }
    [data-pronounce].invert:hover, [data-pronounce].invert:focus, [data-pronounce].invert:active {
      background-color: #939598; }

.btn {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  border-width: 2px;
  padding: .75rem 1.25rem .85rem;
  cursor: pointer; }
  .btn.btn-lg {
    padding: 1rem 1.75rem 1.1rem; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: white;
    border-color: white;
    color: #231f20 !important; }

.activity-menu-wrapper > div {
  z-index: 100; }
.activity-menu-wrapper .icon {
  width: 44px;
  height: 44px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block; }
  .activity-menu-wrapper .icon.icon-info {
    background-color: blue; }
  .activity-menu-wrapper .icon.icon-home {
    background-color: red; }
  .activity-menu-wrapper .icon.icon-print {
    background-color: yellow; }

[data-gallery] {
  width: 32px;
  height: 32px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block;
  background-color: red;
  position: absolute;
  bottom: 10px;
  right: 10px; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fade-in {
  -webkit-animation: fadeIn 1s 1 forwards;
  -moz-animation: fadeIn 1s 1 forwards;
  -o-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }

.disabled-link {
  pointer-events: none;
  cursor: default; }

#intro {
  background-color: orange;
  height: 100vh;
  width: 100vw; }

#puzzle {
  background-color: #dedede;
  height: 100vh;
  width: 100vw; }

#intro,
#learning-points {
  background: #ddd;
  height: 100vh;
  width: 100vw; }

.intro-overlay,
.learning-points-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0px;
  padding: 40px;
  position: absolute;
  top: 0px;
  width: 100%; }

.intro-card,
.learning-points-card {
  background-color: white;
  border-radius: 15px;
  height: 80%;
  left: 33%;
  position: absolute;
  top: 10%;
  width: 33%;
  padding: 25px; }
  .intro-card .header-wrapper,
  .learning-points-card .header-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px; }
    .intro-card .header-wrapper h1,
    .learning-points-card .header-wrapper h1 {
      font-size: 26px;
      line-height: 1.4; }
    .intro-card .header-wrapper:after,
    .learning-points-card .header-wrapper:after {
      content: '';
      border-bottom: 3px solid #ddd;
      width: 33%;
      bottom: -10px;
      position: relative;
      left: 33%; }
  .intro-card .text-wrapper h6,
  .learning-points-card .text-wrapper h6 {
    text-align: center;
    font-weight: 600;
    margin-top: 50px; }

.subheader {
  padding-left: 0px; }
  .subheader li {
    display: inline;
    font-size: 14px;
    text-transform: uppercase; }

#puzzle .header-wrapper {
  width: 80%;
  left: 10%;
  text-align: center;
  position: relative;
  margin-top: 0px;
  padding: 10px; }
  #puzzle .header-wrapper h1 {
    font-size: 29px;
    font-weight: 600;
    letter-spacing: 0.5px; }

.puzzle-img-wrapper,
.lg-wrapper {
  position: relative;
  left: 25%;
  width: 50%;
  margin-top: 23px; }

.puzzle-img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9); }

.card {
  width: 200px;
  height: 300px;
  background: url("../../assets/placeholder_card_print.png");
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: absolute; }

.card[data-card="1"] {
  top: 116px;
  left: 347px;
  transform: rotate(7deg); }

.card[data-card="2"] {
  top: 122px;
  left: 543px;
  transform: rotate(-27deg); }

.card[data-card="3"] {
  top: 150px;
  left: 657px;
  transform: rotate(22deg); }

.card[data-card="4"] {
  top: 300px;
  left: 423px;
  transform: rotate(-12deg); }

.card[data-card="5"] {
  top: 127px;
  left: 793px;
  transform: rotate(-18deg); }

.card[data-card="6"] {
  top: 309px;
  left: 318px;
  transform: rotate(-20deg); }

.card[data-card="7"] {
  top: 343px;
  left: 590px;
  transform: rotate(-64deg); }

.card[data-card="8"] {
  top: 313px;
  left: 804px;
  transform: rotate(16deg); }

#complete-overlay {
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100vw;
  background: rgba(0, 0, 0, 0.65); }
  #complete-overlay .text-wrapper {
    color: white;
    width: 40%;
    left: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; }
    #complete-overlay .text-wrapper h1 {
      font-size: 50px;
      letter-spacing: 2px;
      margin-bottom: 40px; }
    #complete-overlay .text-wrapper p {
      margin-bottom: 80px; }
  #complete-overlay .btn-wrapper button {
    margin: 15px;
    color: white; }

.zoom-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  bottom: 15px; }

.read-more {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px; }

#droppable-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  left: 10%;
  position: relative;
  margin-top: 35px;
  z-index: 1052; }

.droppable-widget {
  font-weight: 600;
  border: 3px solid black;
  width: 25%;
  text-align: center;
  padding: 6px; }

.draggable-widget {
  transition: all 0.5s; }

.ui-draggable-dragging,
.ui-draggable .dragged {
  transform: scale(0.65, 0.65) !important;
  opacity: 0.9; }

.modal {
  top: 20px; }

.modal-content {
  height: 550px; }

.modal-dialog {
  max-width: 400px; }

.modal-header {
  flex-direction: column;
  border-bottom: none;
  padding: 40px 20px 20px;
  cursor: move; }
  .modal-header:after {
    content: "";
    border: 2px solid #DDDDDD;
    margin-top: 15px;
    width: 50px; }

.modal-body small {
  font-style: italic;
  text-align: center;
  display: block;
  font-size: 65%; }
.modal-body p {
  margin-top: 40px; }

.close[data-dismiss="modal"] {
  position: absolute;
  left: 110%;
  top: 0%; }
  .close[data-dismiss="modal"] span {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    font-weight: initial; }

/*# sourceMappingURL=main.css.map */
