/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic");
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hidden {
  display: none !important; }

* {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 3.6rem; }

h4 {
  font-size: 1rem; }

.header {
  max-width: 540px;
  margin: 0 auto; }
  .header h1 {
    font-size: 1.8rem;
    font-weight: bold; }
  .header h2 {
    font-size: 0.8rem; }

.all-caps {
  text-transform: uppercase;
  font-weight: 400; }

.letter-spacing-1 {
  letter-spacing: 1px; }

.underline {
  border-bottom: 3px solid #F7B029;
  padding-bottom: 5px;
  display: inline-block; }

html,
body {
  background: #2e3742;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

.rel {
  position: relative; }

.abs {
  position: absolute; }
  .abs.right {
    right: 0; }
  .abs.left {
    left: 0; }
  .abs.top {
    top: 0; }
  .abs.bottom {
    bottom: 0; }

footer {
  color: white;
  height: 50px;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  padding: 11px; }
  footer.transparent {
    background: transparent; }
  footer img {
    height: 34px;
    position: relative;
    top: -4px; }
    @media screen and (max-width: 767px) {
      footer img {
        display: none; } }
  footer ul {
    margin-top: 6px; }
    footer ul li:not(:last-child):after {
      content: '|';
      margin: 0 0 0 10px;
      opacity: 0.5; }
    footer ul li a {
      color: white; }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
        color: white; }

#instructions {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  z-index: 1000;
  overflow: auto; }
  #instructions .instructions-container {
    z-index: 101;
    position: relative;
    text-align: center;
    padding: 100px 20px; }
    @media screen and (max-width: 767px) {
      #instructions .instructions-container {
        padding: 30px 30px 100px; } }
    #instructions .instructions-container h2 {
      color: white !important; }
    #instructions .instructions-container img {
      max-width: 300px; }
    #instructions .instructions-container .row {
      margin-bottom: 20px; }

span[data-toggle="tooltip"] {
  border: 1px solid #206CAF;
  border-radius: 4px;
  padding: 1px 3px;
  transition: all 0.5s;
  color: black;
  cursor: help;
  display: inline-block; }
  span[data-toggle="tooltip"]:hover, span[data-toggle="tooltip"]:focus, span[data-toggle="tooltip"]:active {
    background-color: #206CAF;
    color: white; }
    span[data-toggle="tooltip"]:hover:after, span[data-toggle="tooltip"]:focus:after, span[data-toggle="tooltip"]:active:after {
      background-image: url("../shared/images/icon-definition-white.svg"); }
  span[data-toggle="tooltip"]:after {
    content: '';
    display: inline-block;
    background-image: url("../shared/images/icon-definition.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-top: -3px;
    vertical-align: middle;
    transition: all 0.5s; }
  @media print {
    span[data-toggle="tooltip"] {
      border: none;
      padding: none;
      border-radius: none; }
      span[data-toggle="tooltip"]:after {
        content: none;
        display: none; } }

[data-pronounce] {
  border: 1px solid #D67169;
  border-radius: 4px;
  padding: 1px 3px;
  transition: all 0.5s;
  color: black;
  cursor: help;
  display: inline-block; }
  [data-pronounce]:hover, [data-pronounce]:focus, [data-pronounce]:active {
    background-color: #D67169;
    color: white; }
    [data-pronounce]:hover:after, [data-pronounce]:focus:after, [data-pronounce]:active:after {
      background-image: url("../shared/images/icon-audio-white.svg"); }
  [data-pronounce]:after {
    content: '';
    display: inline-block;
    background-image: url("../shared/images/icon-audio.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    vertical-align: middle;
    transition: all 0.5s; }
  @media print {
    [data-pronounce] {
      border: none;
      padding: none;
      border-radius: none; }
      [data-pronounce]:after {
        content: none;
        display: none; } }

.btn {
  background-color: transparent;
  border-color: #4BADA6;
  border-radius: 0;
  border-width: 3px;
  padding: .75rem 1.25rem .85rem;
  font-weight: 500;
  cursor: pointer;
  color: #4BADA6; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: #4BADA6;
    border-color: #4BADA6;
    color: white !important; }
  .btn.btn-lg {
    padding: 1rem 1.75rem 1.1rem;
    border-width: 4px; }
  .btn.btn-white {
    border-color: white;
    color: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
    .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
      color: #4BADA6 !important;
      background-color: white;
      border-color: white;
      text-shadow: none; }
  .btn.active {
    border-color: #4BADA6;
    background-color: #4BADA6;
    color: white !important;
    opacity: 1; }
    .btn.active:hover, .btn.active:focus, .btn.active:active {
      color: white !important;
      background-color: #4BADA6;
      border-color: #4BADA6;
      opacity: 0.65; }

.activity-menu-wrapper > div {
  z-index: 100; }
.activity-menu-wrapper .icon {
  width: 36px;
  height: 36px;
  margin: 10px 5px;
  display: inline-block;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all;
  cursor: pointer; }
  .activity-menu-wrapper .icon:last-of-type {
    margin-right: 15px; }
  .activity-menu-wrapper .icon:hover, .activity-menu-wrapper .icon:focus, .activity-menu-wrapper .icon:active {
    opacity: 0.5; }
  .activity-menu-wrapper .icon.icon-info {
    background-image: url("../shared/images/icon-info.svg"); }
  .activity-menu-wrapper .icon.icon-home {
    background-image: url("../shared/images/icon-home.svg"); }
  .activity-menu-wrapper .icon.icon-print {
    background-image: url("../shared/images/icon-print.svg"); }
  .activity-menu-wrapper .icon.disabled {
    opacity: 0.4;
    cursor: default; }

[data-gallery] {
  width: 32px;
  height: 32px;
  border-radius: 99px;
  margin: 10px 5px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-image: url("../shared/images/icon-zoom.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
  transition: 0.5s all; }
  [data-gallery]:focus, [data-gallery]:hover, [data-gallery]:active {
    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.75)); }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fade-in {
  -webkit-animation: fadeIn 1s 1 forwards;
  -moz-animation: fadeIn 1s 1 forwards;
  -o-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }

.disabled-link {
  pointer-events: none;
  cursor: default; }

@font-face {
  font-family: "Geared Slab";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/geared-slab/GearedSlab.eot?") format("eot"), url("../fonts/geared-slab/GearedSlab.woff") format("woff"), url("../fonts/geared-slab/GearedSlab.ttf") format("truetype"); }
@font-face {
  font-family: "Geared Slab";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/geared-slab/GearedSlab-Bold.eot?") format("eot"), url("../fonts/geared-slab/GearedSlab-Bold.woff") format("woff"), url("../fonts/geared-slab/GearedSlab-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Ludicrous";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ludicrous/Ludicrous.eot?") format("eot"), url("../fonts/ludicrous/Ludicrous.woff") format("woff"), url("../fonts/ludicrous/Ludicrous.ttf") format("truetype"); }
@font-face {
  font-family: "Archer Pro";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/archer-pro/ArcherPro-Book.eot?") format("eot"), url("../fonts/archer-pro/ArcherPro-Book.woff") format("woff"), url("../fonts/archer-pro/ArcherPro-Book.ttf") format("truetype"); }
@font-face {
  font-family: "Archer Pro";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/archer-pro/ArcherPro-Semibold.eot?") format("eot"), url("../fonts/archer-pro/ArcherPro-Semibold.woff") format("woff"), url("../fonts/archer-pro/ArcherPro-Semibold.ttf") format("truetype"); }
#intro {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1; }

#puzzle {
  background: url("../shared/images/default/bkgr-generic@2x.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute; }

.icon-definition {
  fill: white;
  height: 18px;
  position: relative;
  bottom: -2px;
  left: -11px; }

[data-gallery] {
  background: url("../shared/images/icon-zoom.svg");
  background-repeat: no-repeat; }

.popover-title {
  display: none; }

#intro,
#learning-points {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1; }

.intro-overlay,
.learning-points-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0px;
  padding: 40px;
  position: absolute;
  top: 0px;
  width: 100%; }

.intro-card,
.learning-points-card {
  background-color: white;
  border-radius: 15px;
  height: 80%;
  left: 33%;
  position: absolute;
  top: 10%;
  width: 33%;
  padding: 35px;
  z-index: 2; }
  .intro-card .header-wrapper,
  .learning-points-card .header-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0px; }
    .intro-card .header-wrapper h1,
    .learning-points-card .header-wrapper h1 {
      font-size: 26px;
      line-height: 1.4; }
  .intro-card .text-wrapper h6,
  .learning-points-card .text-wrapper h6 {
    text-align: center;
    font-weight: 600;
    margin-top: 50px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    left: 0px;
    padding: 0px 30px; }
    @media (max-width: 767px) {
      .intro-card .text-wrapper h6,
      .learning-points-card .text-wrapper h6 {
        position: initial; } }
  @media (max-width: 767px) {
    .intro-card .text-wrapper,
    .learning-points-card .text-wrapper {
      height: 80%;
      overflow: scroll; } }
  @media (max-width: 767px) {
    .intro-card,
    .learning-points-card {
      width: 85%;
      left: 7.5%;
      top: 14%; } }

.intro-card p {
  font-size: 14px;
  margin-top: 10px; }

#puzzle .header-wrapper {
  margin: 0 auto; }

.subheader {
  padding-left: 0px;
  margin: 0; }
  .subheader li {
    display: inline;
    font-size: 16px;
    color: white;
    font-family: "Archer Pro", serif; }

.modal-img-wrapper {
  position: relative;
  height: 180px;
  overflow: hidden;
  text-align: center;
  background-color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center; }

.intro-img {
  max-height: 180px; }

.read-more-btn {
  font-weight: 700; }

#puzzle .header-wrapper {
  width: 100%;
  text-align: center; }
  @media (max-width: 767px) {
    #puzzle .header-wrapper {
      margin-top: 75px; } }

.puzzle-img-wrapper,
.lg-puzzle-wrapper {
  position: relative;
  left: 30%;
  width: 40%;
  height: 495px;
  margin-top: 80px; }
  @media (max-width: 767px) {
    .puzzle-img-wrapper,
    .lg-puzzle-wrapper {
      left: 0px;
      width: 100vw;
      overflow: auto;
      margin-top: 30px; } }

.puzzle-img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9); }

.card {
  width: 175px;
  height: 250px;
  background: url("../assets/card-generic@2x.png");
  background-size: contain;
  background-color: #eaeaea;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  position: absolute;
  transition: 0.5s all ease-in-out; }
  .card:hover {
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(250, 250, 250, 0.5); }
  @media (max-width: 767px) {
    .card {
      width: 123px;
      height: 175px; } }

.card[data-card="1"] {
  top: 0px;
  left: 0px;
  transition: 0.5s all ease-in-out;
  transform: rotate(-11deg); }
  .card[data-card="1"]:hover {
    transform: rotate(-11deg) scale(1.15, 1.15); }

.card[data-card="2"] {
  top: -15px;
  left: 133px;
  transform: rotate(56deg); }
  .card[data-card="2"]:hover {
    transform: rotate(56deg) scale(1.15, 1.15); }

.card[data-card="3"] {
  top: -39px;
  left: 292px;
  transform: rotate(90deg); }
  .card[data-card="3"]:hover {
    transform: rotate(90deg) scale(1.15, 1.15); }

.card[data-card="4"] {
  top: -31px;
  left: 412px;
  transform: rotate(-39deg); }
  .card[data-card="4"]:hover {
    transform: rotate(-39deg) scale(1.15, 1.15); }

.card[data-card="5"] {
  top: 165px;
  left: 407px;
  transform: rotate(18deg); }
  .card[data-card="5"]:hover {
    transform: rotate(18deg) scale(1.15, 1.15); }

.card[data-card="6"] {
  top: 206px;
  left: 212px;
  transform: rotate(90deg); }
  .card[data-card="6"]:hover {
    transform: rotate(90deg) scale(1.15, 1.15); }

.card[data-card="7"] {
  transform: rotate(-70deg);
  top: 93px;
  left: 207px; }
  .card[data-card="7"]:hover {
    transform: rotate(-70deg) scale(1.15, 1.15); }

.card[data-card="8"] {
  top: 154px;
  left: -6px;
  transform: rotate(-17deg); }
  .card[data-card="8"]:hover {
    transform: rotate(-17deg) scale(1.15, 1.15); }

.card[data-card="9"] {
  top: -50px;
  left: 425px;
  transform: rotate(-18deg); }
  .card[data-card="9"]:hover {
    transform: rotate(-18deg) scale(1.15, 1.15); }

.card[data-card="10"] {
  top: -86px;
  left: 29px;
  transform: rotate(109deg); }
  .card[data-card="10"]:hover {
    transform: rotate(109deg) scale(1.15, 1.15); }

.card[data-card="11"] {
  top: 253px;
  left: 390px;
  transform: rotate(46deg); }
  .card[data-card="11"]:hover {
    transform: rotate(46deg) scale(1.15, 1.15); }

.card[data-card="12"] {
  top: 253px;
  left: -23px;
  transform: rotate(-60deg); }
  .card[data-card="12"]:hover {
    transform: rotate(-60deg) scale(1.15, 1.15); }

#complete-overlay {
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100vw;
  background: rgba(0, 0, 0, 0.85); }
  #complete-overlay .text-wrapper {
    color: white;
    width: 40%;
    left: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; }
    #complete-overlay .text-wrapper h1 {
      font-size: 50px;
      letter-spacing: 2px;
      margin-bottom: 40px; }
    #complete-overlay .text-wrapper p {
      margin-bottom: 80px;
      text-align: center;
      line-height: 1.9;
      font-weight: 300; }
  #complete-overlay .btn-wrapper button {
    margin: 15px;
    color: white; }

.zoom-icon {
  width: 42px;
  height: 42px;
  position: absolute;
  right: 15px;
  bottom: 15px; }

.puzzle-img-zoom-icon {
  width: 100%;
  position: relative;
  display: block;
  text-align: right;
  top: -40px;
  right: 15px; }

.read-more {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: absolute;
  bottom: 60px; }

#droppable-wrapper {
  width: 70%;
  display: flex;
  justify-content: space-between;
  left: 15%;
  position: relative;
  margin-top: 35px;
  z-index: 1052;
  position: absolute;
  bottom: 60px; }

.droppable-widget {
  font-weight: 600;
  color: white;
  border: 3px solid white;
  width: 25%;
  text-align: center;
  padding: 6px;
  background: transparent; }
  .droppable-widget:hover, .droppable-widget:active, .droppable-widget:visited {
    border: 3px solid white; }
  .droppable-widget:after {
    content: ''; }

.draggable-widget {
  transition: all 0.5s; }

.ui-draggable-dragging,
.dragged
.answered {
  transform: scale(0.5, 0.5) !important;
  cursor: move; }

.modal-backdrop {
  opacity: 0.65 !important;
  z-index: 1000;
  position: fixed; }

.modal {
  top: 20px; }

.modal-content {
  height: 550px;
  cursor: move; }

.modal-dialog {
  max-width: 400px; }

.modal-header {
  flex-direction: column;
  border-bottom: none;
  padding: 40px 20px 20px;
  cursor: move; }

.modal-body {
  padding: 15px 30px; }
  .modal-body small {
    font-style: italic;
    display: block; }
  .modal-body p {
    margin-top: 40px; }

.close[data-dismiss="modal"] {
  position: absolute;
  left: 105%;
  top: 0%; }
  @media (max-width: 767px) {
    .close[data-dismiss="modal"] {
      left: 92%;
      top: -3%;
      background: black;
      border-radius: 50%; } }

.modal-img {
  max-width: 100%; }

.modal-caption {
  text-align: left; }

.modal-zoom {
  right: 0px;
  bottom: 0px; }

.modal-footer-message {
  text-align: center;
  position: absolute;
  bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  font-style: italic;
  display: block;
  left: 0px;
  width: 100%; }

.lg-wrapper-card {
  position: relative; }

/*# sourceMappingURL=main.css.map */
