/**
 * This file loads all Sass files to be compiled by Grunt.
 * Include each file for this specific instance.
*/
@font-face {
  font-family: "Geared Slab";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/geared-slab/GearedSlab.eot?") format("eot"), url("../fonts/geared-slab/GearedSlab.woff") format("woff"), url("../fonts/geared-slab/GearedSlab.ttf") format("truetype"); }
@font-face {
  font-family: "Geared Slab";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/geared-slab/GearedSlab-Bold.eot?") format("eot"), url("../fonts/geared-slab/GearedSlab-Bold.woff") format("woff"), url("../fonts/geared-slab/GearedSlab-Bold.ttf") format("truetype"); }
h1 {
  font-size: 3.6rem;
  font-family: "Geared Slab", serif;
  letter-spacing: 0.5px; }

h2 {
  font-family: "Geared Slab", serif;
  letter-spacing: 0.5px;
  color: #677c4a; }

h3 {
  font-family: "Geared Slab", serif;
  letter-spacing: 0.5px; }

h4 {
  font-size: 1rem; }

.header {
  max-width: 540px;
  margin: 10px auto 0;
  padding: 10px 0 20px;
  background-image: url("../images/np/decoration-np.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  max-height: 125px;
  margin-bottom: 25px; }
  .header h1 {
    font-size: 2.1rem;
    font-weight: normal;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); }
  .header h2 {
    font-size: 0.9rem;
    font-family: "Geared Slab", serif;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    color: #311D18; }

.btn {
  border-color: #311D18;
  color: #311D18; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: #311D18;
    border-color: #311D18;
    color: white !important; }
  .btn.btn-white {
    border-color: white;
    color: white; }
    .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
      color: #311D18 !important;
      background-color: white;
      border-color: white; }
  .btn.active {
    border-color: #311D18;
    background-color: #311D18;
    color: white !important;
    opacity: 1; }
    .btn.active:hover, .btn.active:focus, .btn.active:active {
      color: white !important;
      background-color: #311D18;
      border-color: #311D18;
      opacity: 0.65; }

.card {
  background: url("../../assets/card-np@2x.png");
  background-size: contain;
  background-color: #eaeaea; }

.modal-content {
  background: url("../../shared/images/np/text-card-np@2x.png");
  background-color: white;
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat; }

.modal-title {
  font-size: 30px;
  margin-top: 25px; }

.modal-footer-message {
  bottom: 50px; }

.dropped {
  background: #677c4a;
  opacity: 0.6; }
  .dropped:after {
    content: url("../../shared/images/icon-checkmark.svg");
    position: absolute;
    left: 42%; }

.popover {
  background-color: #73cce4;
  color: white; }

.popover.popover-top::after,
.popover.bs-tether-element-attached-bottom::after {
  border-top-color: #73cce4; }

.intro-card {
  background: url("../../shared/images/np/text-card-np@2x.png");
  background-size: 95%;
  background-color: #eaeaea;
  background-repeat: no-repeat;
  background-position: center center; }
  .intro-card .header-wrapper h1 {
    font-family: "Geared Slab", serif;
    font-size: 30px;
    margin-top: 20px; }

#complete-overlay .text-wrapper h1 {
  font-family: "Open Sans", serif; }

#puzzle {
  background: url("../../shared/images/np/bkgr-np@2x.png");
  background-size: cover; }

/*# sourceMappingURL=theme-np.css.map */
