/**
 * This file includes Northern Plains theme styles for the intro and learning points modals.
 * 
**/


.intro-card,
.learning-points-card  {
	background: url('/nk360/shared/lib/im/images/np/text-card-np@2x.png');
	background-size: 95%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center center;
	.header-wrapper {
		h1 {
			font-family: $headline;
			font-size: 30px;
    		margin-top: 20px;
		}
	}

	@media screen and ($screen-sm) and ($screen-portrait) {
		margin-top: 30px;
		background-size: 100%;
	}

	@media screen and (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) {
		min-height: 50%;
		height: auto;
	}

}

.learning-points-card {
	.header-wrapper {
		@media screen and ($screen-sm) and ($screen-portrait) {
			margin-top: 40px;
		}
		h1 {
			@media screen and ($screen-sm) and ($screen-portrait) {
				margin-top: 0px;
			}

			@media screen and (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) {
				margin-top: 55px;
			}
		}


	}

	@media screen and ($screen-md) and ($screen-landscape) {
		top: 2.5%;
	}

}

.intro-card {
	background-size: 90% 100%;
	.text-wrapper {
		@media screen and (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) {
				margin-bottom: 20px;
			}

	}
}

.subheader {
	li {
		color: black;
	}
}
