.slider-card {
    background: url(../shared/images/pnw/text-card-pnw@2x.png) white !important;
    background-size: 400px 600px !important;
    background-repeat:no-repeat;

    @media (max-width: 767px) { 
        background-size: 360px 570px !important;
    }
}