html,
body {
    background: url('../assets/background@2x.jpg');
    background-size: cover;
    background-position: center center;

    @media screen and ($screen-xs) {
        background-position: center center;
        background-repeat: no-repeat;
    }
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media screen and ($screen-xs) {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

#static-ui {
    .print-preview-btn {
        position: absolute;
        bottom: 80px;
        right: 30px;
        color: white;

        @media screen and ($screen-ltmd) and ($screen-portrait) {
            bottom: 120px;
            right: 50%;
            width: 300px;
            margin-right: -150px;
        }
        @media screen and ($screen-xs) {
            display: none;
        }
    }
}

#error-alert {
    position: fixed;
    width: 260px;
    padding: 14px;
    border-radius: 4px;
    background: rgba(#ec5343, 0.9);
    color: white;
    bottom: 40px;
    left: 50%;
    margin-left: -130px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;

    &.show {
        bottom: 70px;
    }
}
