.modal-content {
	background: url('../../shared/lib/im/images/pnw/text-card-pnw@2x.png');
	background-color: white;
	background-size: 90%;
	background-position: center center;
	background-repeat: no-repeat;
}

.modal-title {
	font-family: $headline-accent;
	font-size: 1.7em;
}

.dropped {
	background: #a8bd46;
    opacity: 0.6;
    &:after {
    	content: url('../../shared/lib/im/images/icon-checkmark.svg');
    	position: absolute;
    	left: 42%;
	}
}


