#print-preview {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    overflow: auto;

    .print-preview-container {
        width: 960px;
        margin: 100px auto;
        position: relative;
        background: white;
        padding: 50px;
        z-index: 10;
    }
    .close-preview {
        width: 44px;
        height: 44px;
        display: block;
        background-image: url(../shared/images/icon-close.svg);
        background-size: 100%;
        position: absolute;
        top: 0;
        right: -60px;
    }
}
