body {
	background: url('../../shared/lib/im/images/np/bkgr-np@2x.png');
	background-size: cover;

	.annotation-screen {
	    margin:50px auto 0 !important;
	}
}

.btn {
	
	i {
	  path {
	    fill:#301c18;
	  }
	}
	&:hover {
		i {
		  path {
		    fill:#FFF;
		  }
		}
	}
}

