#step-by-step-cards {
    .step {
        .step-container {
            background-image: url('../../shared/lib/im/images/np/text-card-np-watermark@2x.png');
            background-size: 400px;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    .step-intro {
        .guiding-question.large {
            font-family: $headline;
            font-size: 3.6rem;
            line-height: 1.2;
            color: $primary;
        }
    }
    .step-theme {
        .btn.btn-theme {
            &:focus, &:hover, &:active {
                color: $btnaccent !important;
            }
        }
    }
}