#droppable-wrapper {
	width: 80%;
    display: flex;
    justify-content: space-between;
    left: 10%;
    position: relative;
    margin-top: 35px;
    z-index: 1052;
}

.droppable-widget {
	font-weight: 600;
    border: 3px solid black;
   	width: 25%;
    text-align: center;
    padding: 6px;
}

.draggable-widget {
	transition: $transition;
}


//active class for draggable
.ui-draggable-dragging,
.ui-draggable .dragged {
	transform: scale(0.65, 0.65) !important;
	opacity: 0.9;
}
