#intro {
	background-color: orange;
	height: 100vh;
	width: 100vw;
}

#puzzle {
	background: url('../../shared/images/pnw/bkgr-pnw@2x.png');
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

#puzzle-download {
	background-color: orange;
}
