.modal {
	top: 20px;
}

.modal-content {
	height: 550px;
}


// identical to 2-Timeline
.modal-dialog {
	max-width: 400px; // originally 500px
}

.modal-header {
	flex-direction: column;
	border-bottom: none;
	padding: 40px 20px 20px;
	cursor: move;
	&:after {
		content: "";
		border: 2px solid #DDDDDD;
		margin-top: 15px;
		width: 50px;

	}
}

.modal-body {
	small {
		font-style: italic;
		text-align: center;
    	display: block;
    	font-size: 65%;
	}

	p {
		margin-top: 40px;
	}
}

.close[data-dismiss="modal"] {
	position: absolute;
	left: 110%;
	top: 0%;
	span {
		color: white;
	    border: 1px solid white;
	    border-radius: 50%;
	    display: flex;
	    height: 40px;
	    width: 40px;
	    justify-content: center;
	    align-items: center;
	    text-shadow: none;
	    font-weight: initial;
	}

}